---
layout: main
type: home
---

{% include grid.html columns=3 %}

<section></section>
<section id="about">
    <h1>About</h1>
    <r-grid columns=2 columns-s=1>
        <r-cell span=1>
            <p>
                Born in Toronto, Canada<br/>
                Lives and works in San Francisco, USA
                <br/><br/>
                Derrek Chow is an artist and inventor creating creating immersive light experiences and novel input devices. Using design and technology as tools of inquiry, he creates experiential works in various forms such as artifact, installation, and performance.
                <br/><br/>
                Derrek received a degree in software engineering from the University of Waterloo where he studied in the <a href="http://hci.cs.uwaterloo.ca/" target="_blank">Expressive Input & Interaction Group</a>.  He was a designer at <a href="https://rndr.studio/" target="_blank">RNDR</a> and a Human-Computer Interaction researcher at the <a href="https://www.colorado.edu/atlas/acme-lab" target="_blank">ACME Lab</a> in the <a href="https://www.colorado.edu/atlas/" target="_blank">ATLAS Institute</a>.
            </p>
            <br/>

            <!-- <h2>Artist Feature</h2>
            Featuring work created and performed in the <a href="https://www.colorado.edu/atlas/b2" target="_blank">B2 Center for Media, Arts & Performance</a> at the University of Colorado Boulder in 2022. Directed by Ezekiel Miles.
            {% include media.html vimeo="780808978" height="300" %} -->
            <!-- <br/>
            <h2>Publications</h2>
            {% include external.html type="publication" all="true" %} -->
            
        </r-cell>
        <r-cell span=1>
            <div style="padding-left: 30px">
                <b>Contact</b><br /><a href="mailto:site@derrekchow.com">hi@derrekchow.com</a>
                <br /><br />

                <b>Links</b><br /><a
                href="/quotes">Quotes</a>, <a
                    href="https://open.spotify.com/user/227xetjpmjboa4xazsscy3sai?si=1T3GVS-QQnyISxScgHVGtA"
                    target="_blank">Playlists↗</a>
                <br /><br />

                <b>Past sites</b><br /><a href="https://2021.derrekchow.com/" target="_blank">2021</a>, <a href="https://2020.derrekchow.com/" target="_blank">2020</a>, <a
                    href="https://2019.derrekchow.com/" target="_blank">2019</a>, <a href="https://2018.derrekchow.com"
                    target="_blank">2018</a>
            </div>
        </r-cell>
    </r-grid>
</section>
<section></section>
