---
name:           Lab 1
year:           CanHap501, Winter 2022  
---

{% include title.html %}

My goal with Lab 1 was to use a variety of unconventional input forces that differed from the resulting actuation force across all the sketches. I also tried to explore different materials (magnet, rubber band, silicone, rubber glove) that had interesting actuation properties.
<hr/>
<h2>Sketch 1</h2>
<b>1mm</b><br/><br/>
{% include media.html video="https://user-images.githubusercontent.com/17170744/151068412-0c1e2e23-ddca-447e-b8c7-fe10d6ab5f93.mp4" settings="controls" %}
I used a pen that bounces against an elastic which moves a pair of tweezers. The pen is attached at its tip to a magnet and I flick the pen to actuate the tweezers. I found it interesting how the strong singular force of a flick was converted to small multiple vibrations of the tweezers.<br/><br/>

{% include media.html video="https://user-images.githubusercontent.com/17170744/151068414-7459009b-c018-4646-a68f-9b3265107c0a.mp4" caption="A closer view of the tweezers actuating." settings="controls" %}

<hr/>

<h2>Sketch 2</h2>
<b>10mm</b>
{% include media.html video="https://user-images.githubusercontent.com/17170744/151068416-f9f36961-0192-4abe-a436-d9e0ccaf56e4.mp4" %}
I used a medical glove that pushes a cardboard flap when the glove is inflated. I used a soldering iron holder to precisely restrict the shape of the glove to actuate the flap.
<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://user-images.githubusercontent.com/17170744/151068417-2cf6e508-61a0-4ab9-a05b-7ce16f6f6fc4.jpg" caption="Retracted" %}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://user-images.githubusercontent.com/17170744/151068418-29718559-b648-4124-bad8-ecf941122e21.jpg" caption="Extended" %}
    </r-cell>
</r-grid>

<hr/>

<h2>Sketch 3</h2>
<b>100mm</b></br><br/>
{% include media.html video="https://user-images.githubusercontent.com/17170744/151068421-8bc7cfa0-036a-450f-9c8b-c8fd69772855.mp4" settings="controls" %}

I used a sticky silicone disc folded in half to push against a rod. The disc's actuation is delayed because of its stickiness. I found this to be an interesting way to delay a force and would want to experiment more with these type of materials that can preserve the "memory" of an action.

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://user-images.githubusercontent.com/17170744/151068423-8acd4347-0046-4159-b450-2484d506d8d9.jpg" caption="Retracted" %}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://user-images.githubusercontent.com/17170744/151068424-72d33d46-6f76-4752-9812-8f9e030bb24d.jpg" caption="Extended" %}
    </r-cell>
</r-grid>