{% assign external = page.external %}

{% if include.type %}
    {% assign external = {include.type} %}
{% endif %}


{% for type in external %}
    {% if include.all %}
        {% assign entries = site.projects | where_exp: "item", "item.external contains type" | map: "external" | map : type | flatten %}
        {% assign type_name = type %}
    
    {% else %}
        {% assign entries = type | last %}
        {% assign type_name = type | first %}
        <h3 class="hr subtitle">{{ type_name | capitalize }}</h3>
    {% endif %}
    
    {% if type_name == "exhibition" or type_name == "performance" or type_name == "education" %}
        {% assign type_name = "events" %}
    {% elsif type_name == "teaching" or type_name == "professional" %}
        {% assign type_name = "research" %}
    {% else %}
    {% endif %}
    {% for entry in entries %}
        {% case type_name %}
            {% when "credits" %}
                <ul class="credits">
                    {% for item in entry %}
                        {% if item.first == "" %}
                            <li>{{ item.last }}</li>
                        {% else %}
                            <li><b>{{ item.first }}:</b> {{ item.last }} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% when "press" %}
                <b>{{ entry.source }}</b>. <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a>. <i>{{ entry.date }}</i>.
            {% when "publication" %}
                {{ entry.authors }}. <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a>. <i>{{ entry.venue }}. {{ entry.pages }} pages</i>.
            {% when "events" %}
                <a href="{{ entry.url }}" target="_blank"><b>{{ entry.title }}</b></a>. {{ entry.venue }}. {{ entry.location }}. <i>{{ entry.date }}</i>.
            {% when "speaking" %}
                <a href="{{ entry.url }}" target="_blank"><b>{{ entry.group }}</b></a>. {{ entry.venue }}. {{ entry.location }}. "{{ entry.title }}". <i>{{ entry.date }}</i>.
            {% when "research" %}
                <b>{{ entry.title }}</b>. <a href="{{ entry.url }}" target="_blank">{{ entry.group }}</a>. {{ entry.venue }}. {{ entry.location }}. <i>{{ entry.date }}</i>.
            {% else %}
                <b>{{ entry.title }}</b>. {{ entry.location }}. <i>{{ entry.date }}</i>.
        {% endcase %}
        <br/>
        {% if entry.award %}
            <b style="line-height: 2">★ {{ entry.award | upcase }}</b><br/>
        {% endif %}
        <br/>
    {% endfor %}
{% endfor %}






