
<footer>
    <br/><br/>
    <div class="body">
        <div></div>
        {% for section in site.data.nav %}
            {% assign section_name = section | first %}
            {% assign project_urls = section | last %}
            <div class="column">
                {% for url in project_urls %}
                    {% assign project = site.projects | concat: site.pages | where: "url", url | first %}

                    {% unless page.url != "/new" and project.show == "new" and project.title != page.title %}
                        <a href="{{ project.url }}" class="{% if project.title == page.title %}hr{% endif %} subtitle">{{ project.title }}</a>
                    {% endunless %}

                {% endfor %}
            </div>
        {% endfor %}   
        <div></div>
    </div>
    <section class="subtitle" align="left">© Derrek Chow 2022</section> 
</footer>

