
<r-grid class="main-grid" columns={{ include.columns }} columns-s=1>
    {% for url in site.data.nav[include.section] %}
        {% assign project = site.projects | where: "url", url | first %}
        
        {% unless page.url == "/" and project.show == "new" %}
            <r-cell class="thumbnail">
                <a href="{{ project.url }}">
                    <img width="100%" src="{{ project.thumbnail }}" />
                    <h4>{{ project.title }}</h4>
                </a>
            </r-cell>
        {% endunless %}
    {% endfor %}
</r-grid>


