<h1 style="margin:0">Derrek Chow is an inventor and artist</h1>
<h3 class="subtitle">He is currently creating immersive light experiences and novel input devices</h3>
<br/><br/>

{% include grid.html section="light" columns=3 %}

<section id="about">
    <h1>About</h1>
    <r-grid columns=2 columns-s=1>
        <r-cell span=1>
            <p>
                Derrek Chow is an inventor and artist from Toronto, Canada. He explores news forms of interaction with computers through making. Using design and technology as tools of inquiry, he creates highly experiential works that sits between artifact, installation, performance, and more.
                <br/><br/>
                Derrek conducted research in Human-Computer Interaction at the <a href="https://www.colorado.edu/atlas/acme-lab" target="_blank">ACME Lab</a> in the <a href="https://www.colorado.edu/atlas/" target="_blank">ATLAS Institute</a> and the <a href="https://ntuhci.org/" target="_blank">NTU HCI Lab</a> in National Taiwan University, and was as a designer at <a href="https://rndr.studio/" target="_blank">RNDR</a>.
            </p>
        </r-cell>
        <r-cell span=1 align="right">
            <b>Contact</b><br /><a href="mailto:site@derrekchow.com">hi@derrekchow.com</a>
            <br /><br />

            <b>Links</b><br /><a
            href="/quotes">Quotes</a>, <a href="https://bookshelf.website/derrekchow" target="_blank">Bookshelf↗</a>, <a href="https://photos.app.goo.gl/L8ZR91Tnuy3XkSZz9"
                target="_blank">Process↗</a>, <a
                href="https://open.spotify.com/user/227xetjpmjboa4xazsscy3sai?si=1T3GVS-QQnyISxScgHVGtA"
                target="_blank">Playlists↗</a>
            <br /><br />

            <b>Past sites</b><br /><a href="https://2020.derrekchow.com/" target="_blank">2020</a>, <a
                href="https://2019.derrekchow.com/" target="_blank">2019</a>, <a href="https://2018.derrekchow.com"
                target="_blank">2018</a>
        </r-cell>
    </r-grid>
</section>
<section></section>

<!-- <section style="max-width:1000px">
    <h1 class="quote">For rational beings to see or re-cognize their experience in a new material form is an unbought grace of life.</h1>
    <h3 class="subtitle">Marshall McLuhan</i></a></h3>
</section> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $("a.internal").click(function (event) {
            event.preventDefault();
            var hash = event.target.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, {
                duration: 500,
                complete: function () {
                    location.hash = hash;
                }
            });
        });
    });

</script>