<h1 style="margin:0">Derrek Chow is an inventor and artist</h1>
<h3 class="subtitle">He is currently creating immersive light experiences and novel input devices</h3>
<br/><br/>

{% include grid.html section="light" columns=3 %}

<section id="about">
    <h1>About</h1>
    <r-grid columns=2 columns-s=1>
        <r-cell span=1>
            <p>
                Derrek Chow is an inventor and artist from Toronto, Canada exploring how computers can enable new forms of interaction and experience. Using design and technology as tools of inquiry, he creates highly experiential works that sit between media such as artifact, installation, and performance.
                <br/><br/>
                Derrek conducted research in Human-Computer Interaction at the <a href="https://www.colorado.edu/atlas/acme-lab" target="_blank">ACME Lab</a> in the <a href="https://www.colorado.edu/atlas/" target="_blank">ATLAS Institute</a> and the <a href="https://ntuhci.org/" target="_blank">NTU HCI Lab</a> in National Taiwan University, and was as a designer at <a href="https://rndr.studio/" target="_blank">RNDR</a>.
            </p>
        </r-cell>
        <r-cell span=1 align="right">
            <b>Contact</b><br /><a href="mailto:site@derrekchow.com">hi@derrekchow.com</a>
            <br /><br />

            <b>Links</b><br /><a
            href="/quotes">Quotes</a>, <a href="https://bookshelf.website/derrekchow" target="_blank">Bookshelf↗</a>, <a href="https://photos.app.goo.gl/L8ZR91Tnuy3XkSZz9"
                target="_blank">Process↗</a>, <a
                href="https://open.spotify.com/user/227xetjpmjboa4xazsscy3sai?si=1T3GVS-QQnyISxScgHVGtA"
                target="_blank">Playlists↗</a>
            <br /><br />

            <b>Past sites</b><br /><a href="https://2020.derrekchow.com/" target="_blank">2020</a>, <a
                href="https://2019.derrekchow.com/" target="_blank">2019</a>, <a href="https://2018.derrekchow.com"
                target="_blank">2018</a>
        </r-cell>
    </r-grid>
</section>
<section></section>