{% assign height = 380 %}

{% if include.height %}
    {% assign height = include.height %}
{% endif %}

<figure>
    {% if include.img %}
        {% if include.full %}     
            <a href="{{ include.img }}" target="_blank" style="cursor: zoom-in;"><img src="{{ include.img }}" width="100%" /></a>
        {% else %}
            <a href="{{ include.img }}" target="_blank" style="cursor: zoom-in;"><img style="max-height: 80vh; object-fit:cover" src="{{ include.img }}" width="100%" /></a>
        {% endif %}
    {% endif %}
    
    {% if include.vimeo %}
        <iframe src="https://player.vimeo.com/video/{{ include.vimeo }}" frameborder="0" width="100%" height="{{height}}px" allow="autoplay; fullscreen;" allowfullscreen></iframe>
    {% endif %}
    
    {% if include.video %}
        <video src="{{ include.video }}" width="100%" {{ include.settings | default: "autoplay loop muted" }} controlslist="nodownload noremoteplayback"></video>
    {% endif %}

    {% if include.yt %}
        <iframe src="https://www.youtube.com/embed/{{ include.yt }}?modestbranding=1&rel=0&color=white" width="100%" height="{{height}}px" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    
    {% if include.caption %}<figcaption class="subtitle"><i>{{ include.caption }}</i></figcaption>{% endif %}
</figure>



