

<div id="slides">
  {% for image in site.data.slides %}
    <img onclick="nextSlide()" class="slide" style="background-image: url({{ image }})"/>
  {% endfor %}
</div>

<script>
  var slideIndex = 0;
  var slides = document.getElementsByClassName("slide");
  var numSlides = slides.length;
  
  function nextSlide() {
    slideIndex = (slideIndex + Math.floor(Math.random() * numSlides-1)) % numSlides;
    for (var i = 0; i < numSlides; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex].style.display = "block";
  }
  nextSlide();
  setInterval(nextSlide, 3800);
</script>