<div>
    <h1 class="large" style="font-weight:normal">{{ page.title }}</h1>
    <h4 class="subtitle">
        {% if page.year %}
            <label>{{ page.year }}</label> |
        {% endif %}

        {% if page.collab %}
            <label>{{ page.collab | join: ", " }}</label>
        {% else %}
            <label>Derrek Chow</label>
        {% endif %}
        {% if page.role %}
            <i><div class="subtitle">{{ page.role | join: ", " }}</div></i>
        {% endif %}
    </div>
</div>