$font-color: white
$link-color: var(--blue)
$unit: 1rem
$bold: bold
$black: black

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-Medium.otf')
    font-weight: bold

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-Regular.otf')
    font-weight: normal

a, h3>a
    text-decoration: underline rgba(255, 255, 255, 0.7)
    -webkit-text-decoration: underline rgba(255, 255, 255, 0.7)
    white-space: normal
    &:hover
        cursor: pointer
        color: $link-color
        text-decoration-color: $link-color

hr
    background-color: $font-color

html, body
    font-family: Untitled
    background-color: $black
    color: $font-color
    font-weight: light
    line-height: 1.2

// .project .text
//     z-index: 0
//     position: sticky
//     top: calc(var(--lineHeight)*2)

.hr
    border-bottom: var(--hrThickness) solid $font-color

nav
    z-index: 0
    position: sticky
    top: $unit*4
    font-weight: $bold
    a
        border-bottom: var(--hrThickness) solid transparent
        text-decoration: none
        display: block
        padding-bottom: 2px
        margin-bottom: $unit/2
    .subnav
        margin-left: $unit/2
        margin-bottom: $unit/2

.thumbnail a
    text-decoration: none 
    &:hover
        text-decoration: underline
        color: $font-color
    h3
        padding-top: 0
        margin-top: 0
    
.subtitle
    opacity: 0.6
    font-weight: normal

section
    padding-top: $unit*8
    h1
        margin-bottom: 0
    hr
        margin-top: $unit/3 !important

.narrow 
    max-width: 500px

.warning
    color: red
    white-space: nowrap

// article, #about p, #quotes
//     text-align: justify

.page
    p, hr
        max-width: 500px
    hr
        margin-top: $unit*4
        margin-bottom: $unit*4
        opacity: 0.4
    blockquote
        opacity: 0.6