$font-color: white
$link-color: var(--blue)
$unit: 1rem
$bold: bold
$black: black

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-Medium.otf')
    font-weight: bold

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-Regular.otf')
    font-weight: normal

a, h3>a, h1>a
    text-decoration: underline rgba(255, 255, 255, 0.7)
    -webkit-text-decoration: underline rgba(255, 255, 255, 0.7)
    &:hover, a
        cursor: pointer
        color: $link-color
        text-decoration-color: $link-color

h1
    text-align: left
    line-height: 1.3 !important

.subtitle
    opacity: 0.5 !important
    font-weight: normal

hr
    background-color: $font-color

html
    font-family: Untitled
    background-color: #222

body
    text-align: justify
    background-color: $black
    color: $font-color
    padding-left: $unit*3.7
    font-weight: light

nav .active
    text-indent: -0.78rem
    &::before
        content: "● "

nav
    position: sticky
    top: $unit*3
    
    a
        text-decoration: none
        display: block
        margin-bottom: $unit/2

.thumbnail
    margin-bottom: $unit*2
    h3
        font-weight: normal

.blocks
    text-align: left
    img
        width: 100%

section, header
    padding-top: $unit*8 !important

.narrow 
    max-width: 480px

#quotes, #interviews
    a
        white-space: normal
    p, hr
        max-width: 480px
    hr
        margin-top: $unit*4
        margin-bottom: $unit*4
        opacity: 0.2
    blockquote
        opacity: 0.6