$unit: 1rem

html:root
    --hrThickness: 0.5px
    --fontSize: 14px
    --sansFont: Untitled
    --background-color: black
    --foreground-color: white
    --columnGap: calc(var(--lineHeight))
    --grey: #999
    font-weight: lighter

// @font-face
//     font-family: Untitled
//     src: url('../fonts/UntitledSans-Medium.otf')
//     font-weight: 700

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-Regular.otf')
    font-weight: 400
    font-style: normal

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-RegularItalic.otf')
    font-weight: 400
    font-style: italic

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-Light.otf')
    font-weight: 300
    font-style: normal

@font-face
    font-family: Untitled
    src: url('../fonts/UntitledSans-LightItalic.otf')
    font-weight: 300
    font-style: italic

a
    border-bottom: 1px solid var(--grey)
    white-space: normal
    text-decoration: none
    &:hover
        cursor: pointer
        border-color: var(--foreground-color)
        text-decoration: none !important
        color: var(--foreground-color)

.thumbnail:hover a>h3
    color: var(--foreground-color)

h1, h2, h3
    font-weight: normal

.hr
    border-bottom: var(--hrThickness) solid var(--grey)

.subtitle
    color: var(--grey) !important
    font-weight: lighter

section h1
    padding-bottom: $unit/4

nav
    position: sticky
    top: $unit*4
    h4
        margin-top: var(--baseline)
        margin-bottom: 0
    a
        border-bottom: var(--hrThickness) solid transparent
        text-decoration: none
        display: block
        &:hover
            border-color: var(--grey)
    .subnav
        // margin-left: $unit/2

section
    padding-top: $unit*8

hr
    background: var(--grey)

.page
    max-width: 500px

h1, h2
    margin-bottom: $unit/4
    padding-bottom: 0

h3
    margin-bottom: $unit/2

.quote
    quotes: "\201C" "\201D" "\2018" "\2019"
    text-indent: -0.7ch
    margin-bottom: 0
    &::before
        content: open-quote
    &::after
        content: close-quote
