---
title: Body & Space
year: 2021 – present
thumbnail: https://lh3.googleusercontent.com/pw/AM-JKLXz7FpJLUKC5qBdRlM9nytN39PyVwLGI7r-g2AX2BDWdTyNWdao8jbZxHVvS1j1nfzhH8ChJvdun5tOrqmqsfUIKKGz4pOVmEEmyXSLz8oYMUqg9HJSG-Kw-6_I7n7nJfLQHNx8PpVJ9S7grKs-5mfc=s600-no?authuser=0
type: page
layout: main
---

{%include title.html %}
<i>Body & Space</i> is collection of ongoing technology-centered explorations of the body's relation to space.
<hr/><br/>

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516976-2a77f812-0c05-40de-9831-108f0952e6ac.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516983-c4f66f5e-a54c-494e-bff9-f8afe783d626.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516984-9ec0ea93-9315-40b2-aedb-ef72215c5e5d.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516989-4a1ee753-1135-42ed-b991-d5299dcb5949.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516992-7cf65e66-3e4d-48f3-9dc5-2efdeabf2ed2.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516971-62fcfcd5-7a14-4e67-b2be-634818775742.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516982-4330da1d-9ef1-4f8b-a40f-5122cea429df.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516981-b7d5a8e4-0a23-41bb-85d6-d503f86f1dbd.mp4
" %} 

{% include media.html youtube="https://www.youtube.com/embed/7mbBdegrvh0" %}

{% include media.html youtube="https://www.youtube.com/embed/xOf2LWBgaD0" %}

<h3 class="hr">Credits</h3>
<b>Bodies:</b> Derrek Chow, Brad Gallagher, Rein van der Woerd.<br/>
<b>Spaces:</b> RNDR, B2 Center for Media, Arts & Performance.
