---
title: Body, Light, Space
year: 2021 – present
collab:
    - Derrek Chow & collaborators
thumbnail: https://lh3.googleusercontent.com/pw/AL9nZEXP8kKvpCKG6uUqSL0uX9trDK4CFUwcyD7ka7xqAqATkXGou46Qsi12dlUakxazmJvd_R-Iho4ytmR-kGqTd-iY0ThJIi4stwaXlD4D3U7TE7NWM1hknDG3gOCDzbIbYwFnTicVWO1U7GQAh1q9jFKO=w1920-h1080-no?authuser=2
text: <i>Body, Light, Space</i> is collection of ongoing technology-centered explorations of the movement of light and the body's relation to space.
external:
    credits:
        -
            Bodies: Derrek Chow, Brad Gallagher, Rein van der Woerd, Anna Pillot, Neill Kaipo Shikada.
            Spaces: RNDR, B2 Center for Media, Arts & Performance.
            "": See video descriptions for full credits.
            
---

{% include media.html yt="SfT47YZCVgs" %}

{% include media.html yt="aqOjz3uHNNM" %}

{% include media.html yt="7mbBdegrvh0" %}

{% include media.html yt="xOf2LWBgaD0" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516976-2a77f812-0c05-40de-9831-108f0952e6ac.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516983-c4f66f5e-a54c-494e-bff9-f8afe783d626.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516984-9ec0ea93-9315-40b2-aedb-ef72215c5e5d.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516989-4a1ee753-1135-42ed-b991-d5299dcb5949.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516992-7cf65e66-3e4d-48f3-9dc5-2efdeabf2ed2.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516971-62fcfcd5-7a14-4e67-b2be-634818775742.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516982-4330da1d-9ef1-4f8b-a40f-5122cea429df.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/241671799-cc8a4096-bb95-47af-8168-f071534c0c54.mov" %} 

{% include media.html video="https://user-images.githubusercontent.com/17170744/241672288-63f004e1-1d19-4807-9127-e447b0565af6.mov" %} 

{% include media.html video="https://user-images.githubusercontent.com/17170744/241672317-73012a27-dea7-4b22-93c4-f26ac9a5bc42.mov" %} 
 