---
title: Creative Coding
year: 2020
place: ""
thumbnail: https://lh3.googleusercontent.com/pw/ACtC-3fasEzW7Y9Qr_AR3umZ6i1N4BVZ6n4YRD3E8AG8Ton9Qmh3Va4P87m8mAhtUdjYc_FWM3JN1RGIbr8EUCZ1pVT3gED1arC1w0k1JTM9ZSkqJ3_U3U_S0f8t8pZvp5lS_eIAilLFPT8IbyEjp8_q3Eoa=s400-no?authuser=0
collab:
  - Derrek Chow

layout: main
type: page
---

{%include title.html %}
Collections of interactive and data-driven coding experiments.

<hr/><br/>

<h2>Real-time Audio Visualizations</h2>
<br/>
{% include media.html img="https://lh3.googleusercontent.com/pw/ACtC-3f1r_luMo3zkWzz5rcG541sQK_ve-GnKPga-u3EN7jFn0od_85vvyKpvAQgObVozb2cZm_CBrd36OX911M5PQFDPswMxPfsc3Fi-nN065pEfo3s3QeHmAHMfUicxND3RI1nK-n8PUvL4nANrZlI9HfO=s400-no?authuser=0" %}
<h3><a href="https://observablehq.com/@derrekchow/music?collection=@derrekchow/pt-js" target="_blank">View collection</a></h3>

<br/><br/>
<hr/><br/>

<h2>Dancing with Go</h2>
<br/>
{% include media.html img="https://lh3.googleusercontent.com/pw/ACtC-3dQJ-sg8IIOe3_sCrChDijSCB9i1M2NrtIxwVmox4Qurd2nYXZtuxlf73fh1b8aGbhKlMogS9_Os2d8vgrnf7of0CaiBxwXvSyBuR8ozVXhBis1yfwwCZcnDcLU_9CrOvI8WM5wizeNpNP6lwMUCjBn=s400-no?authuser=0" %}
<h3><a href="https://observablehq.com/@derrekchow/go?collection=@derrekchow/pt-js" target="_blank">View piece</a></h3>

<br/><br/>
<hr/><br/>

<h2>Waves</h2>
<br/>
{% include media.html img="https://lh3.googleusercontent.com/pw/ACtC-3fC0rMddcUzIPTuotImVFscZGw2wjnjeX4xwAdEWwwBe9f_t2WGpJSPmrcIOk3IW23FMFx415aA5W9L_BPZ41JXeD7l8ghJE4WlW-6yQBkvW6hRhmkaOBaVJkaq8B7gaPs3BTWLRE0CNcsP_8cvvzxp=s320-no?authuser=0r" %}
<h3><a href="https://observablehq.com/@derrekchow/waves?collection=@derrekchow/pt-js" target="_blank">View collection</a></h3>



