---
title: Face Sketches
year: 2022
place: Waterloo, Canada
thumbnail: https://lh3.googleusercontent.com/pw/AM-JKLWqAFtCzmXl2u1jSf83K6zpELWz9frF6CNWmQ9RDuJhj5nLqNR3_7-7Vzz35qor7s-UOiadlksQDdJkksphAFZHynlqVgzcqv2FQ4cNtK8UbeGaMI2yH_L6rGMfwZvEWykCRDk79lzi63Kj4Zu2_UZHlg=w1520-h1013-no?authuser=0
text: ""
---

{% include media.html yt="n9yU331-YSc"%}

{% include media.html video="https://user-images.githubusercontent.com/17170744/157132866-211f7d3f-474a-48e2-8266-b5530ff2628d.mp4" settings="controls"%}

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLVqEcC_V98WwPUQdAGXz7xDAGt5mt9ehm1CBKiXqHdLnPHUU9RghmXfcpZGjrEJwHc0ZFx30Wh2xlrFBzwPOUV5CtMdu13RsZ3_Yp_y9M7Ne9U9BEdpJsA9ieaM0kfIxFNyNGwDhOK-GtxLPrGCVp_4zA=w1520-h1013-no?authuser=0"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWqAFtCzmXl2u1jSf83K6zpELWz9frF6CNWmQ9RDuJhj5nLqNR3_7-7Vzz35qor7s-UOiadlksQDdJkksphAFZHynlqVgzcqv2FQ4cNtK8UbeGaMI2yH_L6rGMfwZvEWykCRDk79lzi63Kj4Zu2_UZHlg=w1520-h1013-no?authuser=0"%}

    </r-cell>
</r-grid>

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLVJKZYxxA4XbjUD5L4SMbfa8dSV6sQGDHIiXnfizu5ruklb8sQRdU5-KU6LEAnUlVNJeq9uiBLdJMUeHpzIeRivTH-p9XIbxvWyHuDQyQwlgqjZfC3qekKoy2I5a2QSnHs-NWoehX6C1Qan-jeAPZM9LA=w1520-h1013-no?authuser=0"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUc9MYr0D8QCb7sTStB4HFkQ9qSX2phYscMOsAw4YaEN3VHfkqbaNOaa_FgM-jjTzFIohVUHDQbAbJIZUce-09-FRq-oxgfO7ioNbwKjx9Xx2Qi48xpAr50O5ZJvMi6FUm7-kCIKPVuNE_Ur6op4F3wBw=w1520-h1013-no?authuser=0"%}
    </r-cell>
</r-grid>

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLXpp4lUCFL4ikl4UHCM_Zf3AqxZ-muTz0jlnNkZ9JlvLJDEtkqY5vwR2UmVfOrGe1UTQFAl2kYWN8gSXSzMgcNbTYxJolLkjWGnpTFr6LoE9_idSTIeVPfvxsgRGevThY4m3QwImELvrm2QVjGn9rKLvQ=w1520-h1013-no?authuser=0"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLX3dKmcd6FrfrXcH0Y3A4IdLXE2osDNx6sZYBT_g1rPiR2Y6XPqmFse_ezZBU0O60A8fqCucoIayAqOa2qDAGYNqme0UV6cQlyBuXoiViNTQaYujyKfm0SxRHldtUmPT1skDZ44o9Wp3MYFI42Vu9HMNw=w1689-h1013-no?authuser=0"%}
    </r-cell>
</r-grid>