---
title: Hackathon Projects
year: 2017 – 2018
place: Waterloo, Canada
thumbnail: https://lh3.googleusercontent.com/Jq25gtdzeSebFNyXqsZgjjnGQx-L0_DrvsXDYL22WL23anAtgpH8gLbQ_E5Ii3oRLhvRzGOhSmCl5Q-IO2zUvpH4pgekbaq5ghBNTXDBHcNuIZb39DG6ngWBiUm-3E-83ryFAyHfYUmcor1SRTtcujJCnux6UfxXvK6lmrDf2T3tnnt_AEjTwDcJWIsCeqJ_d8w-mrCEtSBv5qIDR-ew2XQXmnWEJQT4YydlihQoIxnfa5JcBcH5il-pyQpS48BxOIWEc3kC88L4czhhKVi_kqVDXE1_HWX-Er1u8I1eTecEShznE-tmDp69hUYFR_-CCpZ4eMEl00m_SciQpsh3xerv9-D_u0MWtD18rWWmHtZbviS07t-ZPzbeToJBKAEdKk9HsNpVr0U6GXFXiBtkSSYpaB6fGParsm53Nqhxb5MIOvZCDJzXfh4gX14YLZcLRhc48gQq_FmeJN03D_cnpX_XSZJmn9Do2d_XGhe7lJMVDrDEYVXBb209oWAntqtlwddJBoa9q7aw1TrHMkT9beJ0G3QyboLwC0rC_XNs3VKvQTOU7d-_GcNtT135agro7h5hkUE7hHRXZiOyTNm5or-nr-QXDkf8mUwtDGXsXajjm_gmx5M91I6ixpP--XuNDX0Tpaoju0cyl-_mBzlJL0r1Jzi4OgldchOu_10MNUGEJqmINAE4t5BxdaiYMnXSa1je3JO4R5fhgxRGnPNJvdE=w1844-h1382-no?authuser=0
collab:
  - Derrek Chow and Collaborators
type: page
layout: main
---
{% include title.html %}
<br/>
A hackathon is an event that challenges students to experiment and create unique software or hardware projects from scratch. Participants collaborate in small teams and compete over an short and intense period of time, typically 24 to 48 hours. Featured are a selection of award-winning hackathon projects constructed with found materials. Hundreds (to thousands) of students around the world to.

<br/><br/><br/>

<hr/><br/>

<h1>Point2Speech</h1>
<div class="info">
  2017 <span class="subtitle">|</span> Derrek Chow, Ibrahim Irfan, Justin Goping, Jayson Yan
  <br/>
  <b><a href="https://mh3.masseyhacks.ca/">MasseyHacks III</a></b>. Vincent Massey Secondary School. Windsor, Canada. <i>April 1 - 2, 2017</i>.
</div>
<br/>

<ul style="list-style: none; padding: 0;">
  <li><b>★ 3RD PLACE OVERALL AWARD</b></li>
  <li><b>★ BEST HARDWARE HACK AWARD</b></li>
  <li><b>★ BEST 3D PRINTED HACK AWARD</b></li>
</ul>

{% include media.html img="https://lh3.googleusercontent.com/umwjRPLbbRqqSWkuVelTUuZzQZ3eRgKa3XZ9x26cnQb_e2CbMVIypwDu9lguyrrMWQapfu4kQDLDA7wlvn20O-82b3QD3DFoIw9Z50q-WLZnNueTk_4GZDBafeW1IHrKxKz03bjbtBcGZtiGiYFfk--bNbYMo3Ae4X4X2L6QImdZWIfYCAy5UsSQLC0cHi-5uTtlNI3S22T_7EnJJaHZCT40SP3-ADzlUGMBsqJpM0bDJPRvw4VvaM_6tl-oUVdE7O1SE2-5FlemazGFaWi7WBwqYmWbdxBg1c6fN5bNjIknfQ3titazW0nqamHlvksgYp6hoyATM_QYZbBBHWBYC5dT0V80cjmT9g0VgSvQGLpFs9240n3E1XPv7LfCcFtUoEi_DzXJmkK1wn0JqleikP4jtq4AMxe6hPZ1kgHQL_Ej0jhY4h_0f22pFBJiC5sCkpDDpGDfTYN_3R_dkaAxpgiZ263yebWa7D4kSR1lGZR1MOCTf2lZk52r2eOioN6N3dg1wUaCo3un95qOewJffrTsb_LxmeiAoa1GZsaouK03VrT8pGnEo9ZJyWz307OJlf3ioQqP9-dSorUior7ZzPV_LpIVcOQDOu_yxarzKieg8cWyFT-EXwojJSGtz8eWgx4bJ4fWMYgB2ghMqLRXHHe6G78GPB4dKk2C5bScNqyOi19LYCRbfZ9DauFyso354QcQBgSMqOx8cEKmAbeEBvo=s1382-no?authuser=0" caption="Assistive device that speaks out loud text on a page when pointed to in real time."%}
<h3><a href="https://devpost.com/software/point-to-speech-rvsa0y" target="_blank">Learn more about this project</a></h3>

<br/><br/>
<hr/><br/>

<h1>Hungr.ai</h1>
<div class="info">
  2018 <span class="subtitle">|</span> Raphael Koh, Max Steiner, Derrek Chow, Nikhil Gupta
  <br/>
  <b><a href="https://hackwestern4.devpost.com/">Hack Western IV</a></b>. Western University. London, Canada. <i>Nov 17 - 19, 2017</i>.
</div>
<br/>
<b>★ ORGANIZER'S CHOICE AWARD</b>
<br/><br/>

{% include media.html img="https://lh3.googleusercontent.com/DrRGQyzTVl8e83oPBu_SiGlCeuUVdXEVIr-foHeUYbBRfzNjZr2M9USbW-8CiW2Mr_ac2jMA2niT1L-DzC257pk0K1dQ6Sf8QpSX7jmaAkIrWhD50QqZ4ucpgyFNPSR4oHMWSm1mAUEN2VQ0PMDrkr9dlg2Zdq94uQ394MQCG9UPDt2jb5w4cZ1hNh63QYXsqar9orILeIUCYeXj76vGIo4jP1Nxh1M3wQnNqBkkN6ljnwGA8LxRMibBqJlbo9iq7bmdpQnAH-HvBfzqCzkpVzYrfZolSNRLzPn63FZXJoY98W7A67gdUQjNXlWX4f0KfCq9IY7FMui4__x8YxtWNcg-4ZHcsAqJjFI6xLWB9EIXUjaKoXF3tR8ixLaTzacAoX01ZJv_bYnBWrnwadDIHJesXhnh-F7xEVjEGeklPbgPfy5sTZvMBS7N7OVIUVGK92UFOrHG_fKzWEkcN9vZ3w9tTvTFJxGadvStToWWb66MIJJbTsHA1E08qV2AX_SO1joXdYxa-VWgG0zU3QJZEOJtd7wV-U0vjSUtB5I2H5xxGJo5ALeGNIkCtNaQgAuwyh0F6BxDCgA3oH-D5TBgy2xxa-0p0HftLd2zwenXUEY86J4vgCtf-BY7KkurxagNDyoliXf7ETIuNQYxm1xvA14hXRjZRR4fYn-pxg4SPt6oW3iZxHEzDJVQ1zUHWsZcNH9DN5ZnxrpnTtVHPNVlV9I=s1382-no?authuser=0
" caption="AI version of the game Hungry Hungry Hippos."%}
<h3><a href="https://devpost.com/software/hungr-ai" target="_blank">Learn more about this project</a></h3>
<br/><br/>
<hr/><br/>

<h1>Hack the Fridge</h1>
<div class="info">
  2018 <span class="subtitle">|</span> Derrek Chow, Ibrahim Irfan
  <br/>
  <b><a href="https://2017.hackthenorth.com/">Hack the North</a></b>. University of Waterloo. Waterloo, Canada. <i>Sep 16 - 17, 2017</i>.
</div>
<br/>

<b>★ HONORABLE MENTION AWARD</b>
<br/><br/>

{% include media.html img="https://lh3.googleusercontent.com/8dtM3nF0Dw1G7Ri9_mMVLF3PbeAFFK0zfZsSWQSfLRthLcJiUeQ8gzIFFmy36qLre4_xkFwZeis9UcehhTUSBuqYEoW8A-rvfFgUCkE8vyCqu3xaer2tZJ5FdQdY3TAbLDrNWEZm6GtUchdysxEmO0jee3o1zVzXvX8ebCbrnJMfUUt4892sopa_EzG_1y1joEDrd9Ze9TjoOQtfsXlL0xYSVKNqGCLKzIBHnbDT4IUIV7PA76WD4PKgLp_tvGiZoF5IOQD5c3051--hhi9MufsKsGJIgY2UpjG-9XNhEWlVrhTcU0e3TL1eMKGyw_fGm3ndUGSTGdyM-iqsKo-f0Qf-_Y8XjYdCEESWdr8NbbOChagBy6YmjdhK6jdIWigpCOhSszAaNRLC1TBkOuBpQtvRFZP304-sNNlAdn_qFTN3tZ5-LXvG4mEgXQC8BKzeWfoTl5_kHbz5Xgi-bDGW9tyGgFCuf8P6TEw0Q1Tpz6JZpkXM_Qytzsh5XFGnjl4V_ViLLyYcMTkAYXcTFQ7hEBQIs6pD52JLFzqz9DkXF6YMo3bAHWnu6CTyPz4AVrmT8PPvH-UC9D6LAG17m3JNg70LpTho5FV4GeKmE2kg917drG1AxEz7i1XktEwe5mYAX78S-_cNne6ZIpBCY-xEXsKhVWeTrTxNdkwaLjx97bfFT88CqYsgbhwbmSyPylh8oUVso2spED2DO_7nOo366zY=s1382-no?authuser=0" caption="Fridge that creates recipes based on the food placed inside it."%}
<h3><a href="https://devpost.com/software/hack-the-fridge" target="_blank">Learn more about this project</a></h3>

<br/><br/>
<hr/><br/>

<h1>Automatic Cannon</h1>
<div class="info">
  2017 <span class="subtitle">|</span> Edwin Zhang, Ibrahim Irfan, Derrek Chow<br/><br/>
</div>
{% include media.html img="https://lh3.googleusercontent.com/Jq25gtdzeSebFNyXqsZgjjnGQx-L0_DrvsXDYL22WL23anAtgpH8gLbQ_E5Ii3oRLhvRzGOhSmCl5Q-IO2zUvpH4pgekbaq5ghBNTXDBHcNuIZb39DG6ngWBiUm-3E-83ryFAyHfYUmcor1SRTtcujJCnux6UfxXvK6lmrDf2T3tnnt_AEjTwDcJWIsCeqJ_d8w-mrCEtSBv5qIDR-ew2XQXmnWEJQT4YydlihQoIxnfa5JcBcH5il-pyQpS48BxOIWEc3kC88L4czhhKVi_kqVDXE1_HWX-Er1u8I1eTecEShznE-tmDp69hUYFR_-CCpZ4eMEl00m_SciQpsh3xerv9-D_u0MWtD18rWWmHtZbviS07t-ZPzbeToJBKAEdKk9HsNpVr0U6GXFXiBtkSSYpaB6fGParsm53Nqhxb5MIOvZCDJzXfh4gX14YLZcLRhc48gQq_FmeJN03D_cnpX_XSZJmn9Do2d_XGhe7lJMVDrDEYVXBb209oWAntqtlwddJBoa9q7aw1TrHMkT9beJ0G3QyboLwC0rC_XNs3VKvQTOU7d-_GcNtT135agro7h5hkUE7hHRXZiOyTNm5or-nr-QXDkf8mUwtDGXsXajjm_gmx5M91I6ixpP--XuNDX0Tpaoju0cyl-_mBzlJL0r1Jzi4OgldchOu_10MNUGEJqmINAE4t5BxdaiYMnXSa1je3JO4R5fhgxRGnPNJvdE=w1844-h1382-no?authuser=0" caption="Spring-loaded mini cannon, tracks and fires candy at target's mouth using facial recognition."%}

<r-grid columns=2>
  <r-cell span=1>
    {% include media.html img="https://user-images.githubusercontent.com/21136804/33001215-69c3d17a-cd7a-11e7-8b34-972e37abeb4b.gif" %}
  </r-cell>
  <r-cell span=1>
    {% include media.html img="https://user-images.githubusercontent.com/21136804/33160095-75783c58-cfe7-11e7-9911-ccce9f711f22.gif" %}
  </r-cell>
</r-grid>


<h3><a href="https://github.com/edwinzhng/automatic-cannon" target="_blank">Learn more about this project</a></h3>


