---
title: The Hapstrument
year: 2022
place: Waterloo, Canada
thumbnail: https://dl.acm.org/cms/attachment/804c20e4-621c-49a6-8779-911101b12227/icmi21-123-fig2.jpg
collab:
    - Derrek Chow
    - Jonathan Lane-Smith
    - Sahand Ajami
text:
    We present the Hapstrument, a novel bimanual haptic device for musical expression. Composed of two <a href="https://dl.acm.org/doi/fullHtml/10.1145/3462244.3481304" target="blank">Haply 2diy</a> haptic force feedback devices, the instrument allows a user to control pitch with one hand, and excitation with the other. We evaluated the Hapstrument's playability in an informal study with musicians and validated our original design goal through a live performance with the Hapstrument.
external:
    credits:
        -
            This project was the result of <i>CanHap501&#58; Introduction to Haptic Information Design</i>, an inter-university graduate-level course. It was taught by top haptic researchers in Canada as part of the <a href="https://canhaptics.ca/" target="_blank">CanHaptics</a> network.
            <br/><br/>
            We thank Oliver Schneder and Jeremy Cooperstock for their advice.
---
{% include media.html yt="wla1DojQy9w" %}

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://user-images.githubusercontent.com/17170744/154556946-13dc53a2-b280-407d-b2c2-2a6e68a1ebc5.jpg"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://dl.acm.org/cms/attachment/804c20e4-621c-49a6-8779-911101b12227/icmi21-123-fig2.jpg" %}
    </r-cell>
</r-grid>


<h2>Prototype Iterations</h2>

{% include media.html video="https://user-images.githubusercontent.com/17170744/154556959-46ba1898-a009-43e6-afae-f16cb4c2d32b.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/153619847-28c9e1fa-ee45-492c-9db1-dae378568786.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/151909373-528b6d6d-0733-49a8-b7cb-99da832cb9f2.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/156651919-ace505d7-fcca-4b09-9541-802b3a9e0150.mp4" settings="controls" %}
