---
title: Light on Clear Plastic Bag
year: Winter 2022
place: Waterloo, Canada
thumbnail: https://lh3.googleusercontent.com/pw/AM-JKLU2mHcH08rsc7Zmta0sg8PFrhw3vAC59J2hw7VpCQKaZtr6yCHDAmnHFn_eF_fhZJ3_m_o3wiRFbBJilX49HFOaPJrtiZyZsS6Wg_0VyeZHPWXtOU-dnTs_l4fMj7faCkyrjuAULtZxDYDOhls_d8WrRg=s1379-no
text: ""
---

{% include media.html yt="-IWNhSBjsLs"%}

{% include media.html video="https://user-images.githubusercontent.com/17170744/161469799-d03f0b26-ae6c-429a-811d-046f5803443a.mp4"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWuRrJBuWJKLcn3ub_YVAaq-kKWxVYL6kD97ylkcs1hp6XYmKeot2kBuhLiq_Engw0azYsjS_Aq0Cznr9uOjA4hhRszTM8KO_33KijakhGGh_jVBCGcoxmY5wCGSMDtXLybJG8AkaaqA9CNxFytNHmYYg=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUvWaMI7T0Lt3qaRzOQA7xP5zL2KYrmgq5M1ys4LAd-72EoOTXysCLWx7_Eu8YXtmmaa43uWP7xY_RRryXNd6_jzkLJrb_ZjXbJV5eXAb3XLxQjJUDmmmRd4iENiVtTdbaH44-HPRL43qs0tisTYXX3uw=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWKkVzCr0wTrDBwqyaKdsqO19ODi1OnKg3HcXJWcWUZJNbnfNHPSdG9xm7SQpBIIhlh4DHrWdulmncKY7O03Gp36SitHQTrxEut65sy214UfiTPCnjji_Uu73DNgGEMggqQkkDEzDvduKcOUiKlUN8-Mg=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLVOIFOvL1bvpcfmuzyfF5MqKFIIIiDvJyBxDP2aZFMBiBHrabI8c3u6JWK_Bv70ETm0qv0vw1NQFTf9Mzzzo5aRSXZ3IPNPzeJj2MGWweeb2W-bAqMfSkQ3s4Uilx5B9gEqfbjJOtZDrlJSv1LmSignZQ=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWndwfKR2n25xBDcsK4K3i0kMGS160yYoPPc1hkJHK5G94G7z1r--tsNjmG7o09VlWd3NZ3wklDn2t2OaY3foja2aeQe_3sS6s02_GLZaEGqs-nQR-HbSgYL9UNkewr7EiMAUbESHPkDVqo5c1otYryeA=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLX1gKy6_06_ET5HhhgXQw-3fb5bPwt_D6pgvasO7RIJU9HmCxZgWCmzC4uT8H1bumT9mQj50amEoHGxJDyREVeCumEiGp3FMsnnHufNxhRDPcDgj_jSms7Led7nxTTBek8mRy5C5DIHevDMRmT6OfK5Zg=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLW9yWw6QAHc30SfYrK1o5nc-0eefLY1-VhO5U4buhfyIvz7yh4i_6OI5BeJZOO7kBGJviTXlbJhIN1ApVuET-gAuYKnwn9SEuTlHqUsAkaPVdXSHoV9sRyLILawnwe5VQrPgy9PG8naOX-Mx9vwCoiT9g=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWHzvt4Ga_S01Xb5AzfLYywsDI8MH5GdlU7TPViPBWqoArqcBXaWwycmsPga4I0hMYZ1YuvmDbVDmZ78Oe2dQdtCo_Tr_1DY_XZooe4x_Yft0SBdZxJzQUF_TBup2VTKHnhHshKvU0Ayw7kYL6OxfGDqg=w2456-h1379-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLXdbxi31vBy3sSzDE24bis1v1Chm4hGrwYkPM-u_5zB62VH3jx-m2V54L0QoDtw6TmalBmS7rm6clBVKRF9H1EeVAAh0wpWJPtilDNeRR2E0ej9ugoX6XDDBtGPoNmCCT7EP5dIF_ViQH7k3mNB_zXIEQ=w2456-h1379-no"%}
