---
title: Lost Searchlights
year: 2022
place: Boudler, CO, United States
thumbnail: https://lh3.googleusercontent.com/pw/AL9nZEUk8gUJOfsUGdEm5grwdzvrmNBqcnRRaMZXmoFUzcZ0fzPA6fDu4JqVsjHZic57t0nt9OBOF23wn5bHYF-FIhV16nsfROwiAhXNrvbuyyisAU0NLHukpKefNmj6-VJj4Hk6e9ZATwmROaAxwvV-Int0=w1920-h1080-no?authuser=2
text:
    <div class="quote">You once told me that the human eye is god's loneliest creation. How so much of the world passes through the pupil and still it holds nothing. The eye, alone in its socket, doesn't even know there's another one, just like it, an inch away, just as hungry, as empty.</div><br/>
    <div class="subtitle">– Ocean Vuong, On Earth We're Briefly Gorgeous</div>
external:
    credits: 
        Concept, Lighting Design and Performance&#58; Derrek Chow<br/>
        Videography&#58; Ezekiel Miles<br/>
        Production support&#58; Chris Petillo, Beau Walters<br/>
        Location&#58; B2 Center for Media, Arts & Performance<br/>
        Music&#58; Pierrot by Alex Zhang Hungtai
---

{% include media.html yt="O4pSMeXNLEo"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEUk8gUJOfsUGdEm5grwdzvrmNBqcnRRaMZXmoFUzcZ0fzPA6fDu4JqVsjHZic57t0nt9OBOF23wn5bHYF-FIhV16nsfROwiAhXNrvbuyyisAU0NLHukpKefNmj6-VJj4Hk6e9ZATwmROaAxwvV-Int0=w1920-h1080-no?authuser=2"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEUk4xq1HD5IQGTFbCYO64x6-KFBtlFx0AqWwiE419IbmxwWndFWq3Ty7M4zqZYEWOyNYUSlXHiQQtl6jGrvWzRrW2UDwR3Itshl3YohDId3PdCAVnwcO-5pDjj-Fe6vlhmo9t4-H__L-HFq-tCaUESn=w1920-h1080-no?authuser=2"%}


