---
title: Out of Bounds
year: 2022
place: Waterloo, Canada
thumbnail: https://lh3.googleusercontent.com/pw/AM-JKLX9kt33l2eo5EIdj9Hl714pL-8rcEucr2dH8R9OsMTKhwSpjD-u9bxc5hH5-W-7GGqHGtXKGCdSxT6jo20egUn8c6ZxDj89tIqLMNI5PfPyVaSs5B3hiyHhifSUaRPn71UApYFMzIPoN-KceQlclsXM=s600-no?authuser=0
text:
    <div class="quote">We live in an unending rainfall of images. The most powerful media transform the world into images and multiply it by means of the phantasmagoric play of mirrors. These are images stripped of the inner inevitability that ought to mark every image as form and as meaning, as a claim on the attention and as a source of possible meanings. Much of this cloud of visual images fades at once, like the dreams that leave no trace in the memory, but what does not fade is a feeling of alienation and discomfort.</div><br/>
    <div class="subtitle">Italo Calvino, Six Memos for the Next Millennium, 1988</div><br/>

    <i>Out of Bounds</i> is a time-based The piece was created for <i>CS/FINE 383 Computational Digital Art Studio</i> course taught by Daniel Vogel at the University of Waterloo in Winter 2022. The intensity and contrast of the light, with the precisce coordination of audio and visuals to elicit a physical reaction in the viewer.<br/><br/>

    <h3 class="hr">Screening</h3>
    <b>HodgePodge. <a href="https://noboartdistrict.org/" target="_blank">NoBo Arts Center</a>.</b> Boulder, Colorado, USA. <i>June 3, 2022</i>.<br/><br/>
---

{% include media.html iframe="https://player.vimeo.com/video/671794015?h=390570e9d2"%}

{% include media.html video="https://user-images.githubusercontent.com/17170744/157128723-a5e8614e-0ebb-458e-82c3-fa3e0f8cee7c.mp4"%}

<r-grid columns=3>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUq3rjhfrwK-kaCFlYFgnnqmb5pQGtYCb80qYxF3V2hvOKx7kg6cl2EvEbZiFzEaGda_g1ECyY17mVaJ6yb2d8gTzCL76-5KV-iUAgfVCRgMVe7caoCNS_fIsiYF4AqRi_UsSg1xyRyy5lz2LrAU1o0=s600-no?authuser=0"%}    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUdB-DpuFCSQ1lu_2yU7CdDGz3KjJCDOcb7b-pVkmiNRLPwsLc8cU5vYss4NQ_QfzxgrwawAnoDOgYi9Gc5N4sSsrGqxWrB8O93tfBHgsoCw3ScnOQRQ1PSt9fj-AF27pUU1NicOkMV5357S3UE0Qkp=s600-no?authuser=0"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLVcFfpJPJQPeMrK2KWGZx9WBls5XndWVezYjIRXA-tWioB7QJW9yQTTfsxa78H7YCZaI7Hl_zjz6yLHM1cY5D728z-1vZy1MZN2sGuLRwZKAKUY81_eSLd61VAz9OKRtvxpuTRDMdsqYy6J-LcsICs2=s600-no?authuser=0"%}
    </r-cell>
</r-grid>




