---
title: PANEL
year: 2021
place: The Hague, Netherlands
thumbnail: https://lh3.googleusercontent.com/pw/AM-JKLVZHASdBlLy1bLXSkobGNlWHXDpAcwBDQKnwr1Xw8J2GeDf39DGa0ibnHAlPY9mUQx_UEA1hxmX87EkxStPmeJckfh3zehpQmbm7dZeLGzITibxifa1Y1MGman1C0NSN1Dwh3uyhF_6nM1Cw9fISh7u=w1381-h1379-no
text:
    <i>PANEL</i> is a controllable and dynamic light installation designed for intense audiovisual performances. The project was conceived, built, and performed live in the studio space of <a href="https://rndr.studio/" target="_blank">RNDR</a>. 
external:
    performance:
        -
            title: VJDJ Night
            venue: RNDR
            location: The Hague, Netherlands
            url: https://rndr.studio/
            date: December 17, 2021
            sort_date: 2022-12-17
            credits: Music by Rein van der Woerd
    credits:
        -
            Performed with live music by Rein van der Woerd.
---

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLVZHASdBlLy1bLXSkobGNlWHXDpAcwBDQKnwr1Xw8J2GeDf39DGa0ibnHAlPY9mUQx_UEA1hxmX87EkxStPmeJckfh3zehpQmbm7dZeLGzITibxifa1Y1MGman1C0NSN1Dwh3uyhF_6nM1Cw9fISh7u=w1381-h1379-no" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516905-8f331890-29c6-4e67-8315-92caae0bf029.mp4" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516911-a1a30c1c-5028-4b60-af79-da3de77eb9f4.mp4" settings="controls" %}

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWRd--2rezZreyEKjV97RWVSMFdjLTwVDDNGFv_AzrDNRw5uPD94Aatj3i0X8VWjdpB0tb-5lK0h0m9pMlxmFHs30SMVwfWoGpgPDF0mul8gmDXQsOQaKXhNOnUf9Id9pETBULHLCrGPXy1eUYn1HHw=w2070-h1379-no" %}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLU_ez2HnMriBUTI3ikyLuUQGSj24_UQWWbx49sO9VkcvsnZ8scQGb7z59tcV38OQ6kff7p_4j2fX8zpXerPEILKPj4hFHkZ4xpz66wDnx6okDo89UM8IwyNtCgMMo8QhSelVUcfA6kyWbbQ4qP3ZoRd=w2420-h1363-no" %}
    </r-cell>
</r-grid>

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516920-b2ba8fdc-2c78-4412-a900-c944c535c6c9.mp4" settings="controls" %}
    </r-cell>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516922-4b9b643f-9f26-40b4-bd26-3815c4fc8e7f.mp4" settings="controls" %}
    </r-cell>
</r-grid>

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWQc_6i0mVVtgOcAmn3cObKYssPnURSevuJXT02c5gShlMvdJB9fJKTFS3I-HefB48BAzmmisyUMzgnRW4VzI3_vofmphgxR3RNlJxsyBLSaIdGikBQVzRR1gztvw4atwkc7z6P-XZxp3iICWm6Bn3i=w1840-h1379-no" %}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUL7wlZFuV12G9f8RZuku0Ax_6Z3nNObQGxlRE81s_r6fEj2ahlPlHMjE642tcJ33nnFB3IaRyrg66f-z15HbAoFHd4Tjzo70xrtBQcfUmkzVMb8TDm1pXuEQQdrrck35EorY3z-Bks4ulkjGzmgDAS=w2070-h1379-no" %}

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516918-db167d35-4ff3-44e4-9002-0580bbecdeff.MOV" settings="controls" %}
    </r-cell>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516924-cfecd5bf-058d-4cb8-8e1b-e35db092db09.mp4" settings="controls" %}
    </r-cell>
</r-grid>

{% include media.html video="https://user-images.githubusercontent.com/17170744/147516916-dfc24e64-f146-4d79-8b4c-9700a6a0ae4a.mp4" settings="controls" %}


<r-grid columns=2>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516927-03a53a63-69b9-42de-93a4-e93ce3539609.mp4" settings="controls" %}
    </r-cell>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516936-7a8027f1-ecfb-4aca-a175-ab486a2a533d.mp4" settings="controls" %}
    </r-cell>
</r-grid>











