---
title: Process&#58; An Audiovisual Experiment
year: 2022
place: Boulder, CO, United States
collab:
    - Derrek Chow
    - Sean Winters
thumbnail: https://lh3.googleusercontent.com/pw/AL9nZEV0jye2B1umY1O0a5_HWm1DbSq2SACLCCaAr7AoJbpe_mfa7wHJauo_ChgG_GX9RNVe6UAk1kllxOLkP-YIfDiIOtn4yZXLA6pAt9L1V2xl6t77UWf2CGphkJQib_TzTNypuulICu3enDdQCB9SZl7r=w1920-h1080-no?authuser=2
text:
    Derrek Chow and Sean Winters invite you to experience their work-in-process, in which the artists projection-map abstract imagery on a large sculpture with tightly correlated audio diffused on the ATLAS B2's immersive 44 channel sound system. This work in pro[gr/c]ess explores the probing of technical audiovisual production toolsets and the resulting poetics of technology. 
external:
    performance:
        - 
            title: Process&#58; An Audiovisual Experiment
            venue: B2 Center for Media, Arts & Performance
            location: Boulder, CO, United States
            url: https://calendar.colorado.edu/event/process_an_audiovisual_experiment?utm_campaign=widget&utm_medium=widget&utm_source=University+of+Colorado+Boulder#.YwPbv-zML0o
            date: August 23, 2022
            sort_date: 2022-08-23
    credits: 
        -
            Visuals, Editing: Derrek Chow
            Sound: Sean Winters
            Sculpture: Sean Winters, Kevin Sweet
            Photography: Elodie Thelliez
            Location: B2 Center for Media, Arts & Performance
---

{% include media.html yt="Sj84WnVRQfY"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEWnw3ZUKwL8tEI3XNleOReqw08Rd1OEQTCqtYuh9IV0gA3NWeQOOdp2jG_hMMrFupe76bjARCldwLQFPmx5K1ZxqnOgxwQ55GQWTb_4ODkngrV85D-oP_7MmoJ3Td3CTg7WtdnfD2MGC4Ef4p9U9-B6=w956-h1436-no?authuser=2"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEV_3pT1mdhWuFar-e-sD5I21tYx3ZWuAxuVO5A4MoB3KUA2gK9B3zq3pea-p7Kb2rjiqjQxUkIzozDSq1wYBJW0U0sHPgfc5EC7QMwLKHRr33XAT7pqn52hwwQhAEsm5aKEdbSZ6UdsJIikRcIXFq3N=w1980-h1320-no?authuser=2"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEXy_pNtZg9D9w_NQniXmiyH326DLN_81--g2ulxrKjQnS7wYdBsPfPYWQoaPWELBKrxANnEZcR2Apy7Wp0Fx0PN0GyjkQwJ9dXW1dUxlAx6KFwa623nfD8vkdEXfJ5-df4JrVt4HAf7QOpOjRj37glb=w956-h1436-no?authuser=2"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEWTL7sOnJ9-GwhWX4Toa2-gOXqYjOJVE6rt2bNv4KXAGT0tWDy4dD8RAIySWEO2HDJ3K4NLyd_Us9kVI2R_iglLXPUr_un8c92huRpQ_AvQKZKc_6ehF3VdluvhPfrTMESrOElCsvnF_pAg-MaeucjR=w956-h1436-no?authuser=2"%}

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEV_i3OHHxJqV-fo6hBr_S1IfhRMx5N2UUTPIwBB4wS8c1vWZ8U03rnZsqFEbM8aFLLtTFOIPN-SaorJjnPNltfzgodY0NNzNjHqyydNYUo8w6VhXUfLkCbCAz-OB27vK5_k-zCq4JkW0AWHTOclR77G=w956-h1436-no?authuser=2"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEXNadqcbdCbMVkcwPackL4Mtxsc5ftCdEmCZR7MNfNiC_xFjePM6ftAw8h-chK5WMJVTHf0fcCGU5lBifji2xp2cyvzy5pU18uVBsB8f5--MhxHCWCU0wDzRp_ViCvqILvy88N9xGKoRSCKmg9p21aS=w956-h1436-no?authuser=2"%}
    </r-cell>
</r-grid>


