---
title: RoBoGo
year: 2021
place: The Hague, Netherlands
thumbnail: https://lh3.googleusercontent.com/pw/AM-JKLWaffKCx3fbT2xKYD02D18EvMY5ahJO72tW_HVqDFu32ELZ58zeDhpWOsB2AzGHvop_NCpI7mSJzY7k8M0fLa0SWjRk_q-95UZmLxUyGBXjv8sW5teLuOZZAxk_ZT7GFYqxhaN3un-y4giQ7O1dy6oJ=s600-no?authuser=0
role:
    - Design (initial lighting prototyping)
collab:
    - <a href="https://rndr.studio/projects/robogo" target="_blank">RNDR</a>
    - <a href="https://studiorap.nl/" target="_blank">Studio RAP</a>
    - Derrek Chow
text:
    RoBoGo is a joint R&D project by RNDR with architecture studio RAP, that focuses on high-quality integration of media in buildings, as part of an integrated design, planning, implementation and maintenance process, through modular media wall elements that offer new possibilities for visionary design while at the same time have an aesthetic quality. MMF combines the architectural function of a facade or wall with the dynamic, communicative power of media facades.
    <br/>
    <h3>Visit <a href="https://robogo.ooo/" target="_blank">robogo.ooo</a></h3>
external:
    exhibitions:
        -
            title: Salone del Mobile 2022
            url: https://www.stimuleringsfonds.nl/en/news/salone-del-mobile-16-projecten-geselecteerd
            venue: Magazzini Raccordati
            location: Milan, Italy
            sort_date: 2022-06-07
            date: June 7 - 12, 2022

---


{% include media.html img="https://www.datocms-assets.com/8504/1654697580-p1100488.jpg?auto=format&fit=crop&ixlib=react-8.5.1&w=2618&h=1473"%}

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516833-9643c663-b1df-4f23-a892-6e4cc02e42cd.mp4"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516831-b21cc334-d1e9-4b49-88f9-e31f353ce086.mp4"%}
    </r-cell>
</r-grid>

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516828-d1c67a22-04f1-41c1-84af-25347d3a10e5.mp4"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html video="https://user-images.githubusercontent.com/17170744/147516827-4826e570-f0a9-4582-a342-3c0fa14b6823.mp4"%}
    </r-cell>
</r-grid>

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLW2uAiKLiQ6cF-iiBVxhpvsVEtIpo9FDhK6sverZ78w1Zqqfq7gZQroLY0K5r2k7cMieSPWj9AT5CkDY9E7lP4qZFKf0j0yw-RCKEgzb77iQ2XxxkMblymz1FlJpeTJ4MWqoLO4pQTRsk8pCK092N3H=w2069-h1379-no?authuser=0"%}
    </r-cell>
    <r-cell span=1>
        {% include media.html video="https://framerusercontent.com/modules/assets/B0O9IHvZfQ6LyxP4oHsYQMYxkGk~wmuaCFIMbqLF8KbgCLXKS7WCkzG1rlBFNHN3bsGvZX0.mov" %}
    </r-cell>
</r-grid>

{% include media.html video="https://framerusercontent.com/modules/assets/UCBO5gZcNZpT05jL0VLV0klHGKw~CT6qX3RJR16MP1yrru-8xwPkHw0I1LHsOhxJohxWH5k.mov"%}

<r-grid columns=2>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUAUqgmUo-IsxkKVC2v0dVUVAXk6Gy_eKdvSIlTxttSYHdfjIfw2vQWL4vohLgpF_H511lhcbpTOXiF77pL2jCBgqj6lmn4siNTkGmzY19vlagMyGfh0ATBmWCKbOMqwBj2L5pvkoClEzYAJD8kketx=w2069-h1379-no?authuser=0"%}

    </r-cell>
    <r-cell span=1>
        {% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLXHzN52LYnKyTikqsmDXQZgtPUs1h0k0m4Z9HS96uSmtLW8zsoFn-dHhOCM2_BJzg9uhndg0HGPF5XIYz2V7P-AIykiOnXw_taFc2gTZlJGaB0NuMaHDCXrpYZLtEV9mq_w64bFlvsPPeLmkVg0H679=w2069-h1379-no?authuser=0"%}
    </r-cell>
</r-grid>



