---
title: Rot
year: 2020
place: ""
thumbnail: https://lh3.googleusercontent.com/-HxHNfPcbtxczKgwpXbKoecDmo2Q4shezMnWDycn7exjVFZS_JopQ4KmFRV0vfj-Jv3uPqxSlk57NGtMfLaEAxOm_MwFUVdnfgid4GEeQm_ubiJKj_cmFPKCGy7l3atRoGaPt2hEnIe43ttw5CF3zIJxYNMkSNr1AICWUrQnu1s_x4wgoXyRsXC8vD0mSgg7dEnh-BZgrcedhpwnjtajR1pjmtHo8K_yW85aDG1I9oSe4yv-KBm_g14EmSmyL8OvISSEPNfcRjfKG-_BQx50qRzyTEhXQezcwsfofvKkaF__0b18J7jpr6mqRW3JrMCcUCz6U5sw7BjHOK_wEp_z0EO6IeO3Ys9JOEjufzSLMHuwRCylb98QPjb979Wdw0zqH62R5_49wqY846emb4W4lRs6ELh8Zy5BZVyYbJextjYuDtoGNUaqp739V2Hn6oBeRokI6degBiwXa-j6iWWDyiJkJcVCCOS2HiuF58BzpHj2Oa3U-rTMLnWWJD0sj0kaN3_RvJJ_6mFzzvy4xzQLMPDugCiJLxg1KQpXHz0wIBEjGkKzeVbE5tzxfvh-coeDYDCl51Qd6kucIN3boUE7GM0h3QX5OOdHl09Fu-leS7Leghen5jUxJsvKV35grXP8nJmssVBYE3XOJ8lMKtmGp0tdMia8SIGXmCM9DBBmu8q3VgZ1gHFKdyHg1EoNW8OKS8BQPTqBTHWSBhYB5w-yLw4=s1268-no?authuser=0
collab:
  - Derrek Chow
---
{% include media.html img="https://static.observableusercontent.com/files/91796c6e18858cd56bfda7c35bd4ea75618427be22d15e1de0cc7cc215d5f42861f7c0036e6b3270f8f9ec1b5726d4c9b9fffe9e38c206461b86f58f0a964d2e" %}

<br/><br/>

{% include media.html img="https://static.observableusercontent.com/files/4d5919da116bc07b1bd5d887d67d27d395689227f6ab11940c4a24d6147c543d0204b5c8df2e5d533d0feebd0dfcc776f12045082236341b2b05e5e7ae821d86" %}