---
title: The SwissBall
year: 2022
place: Waterloo, Canada
thumbnail: https://lh3.googleusercontent.com/pw/AM-JKLWkfusLxCA5GNvpZRB1TlkzrS8l95M5BjOlWLZ1BUNjJ4cghVe-u3MEPm4qyZnD16SOw5M6Z_z16-RXOfYiqg_dr0s_gwNV1uHM9Q1gVyL-xv6w_aBgh2pJ87uHedb8aZfHdFH2aIYxZRyHbza_kPbA1w=s1170-no?authuser=0
collab:
    - Derrek Chow
    - Gracie Xia
    - Jasmine Ou
external:
    publication:
        -
            authors: <b>Derrek Chow</b>, Gracie Xia, Jasmine Ou
            title: FormSense&#58; A Fabrication Method to Support Shape Exploration of Interactive Prototypes
            url: https://doi.org/10.1145/3526114.3558730
            venue: The ACM Symposium on User Interface Software and Technology (UIST 2022)
            pages: 3

---

{% include media.html yt="zM8PrQqO0Ws" %}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLWQmrHRK1XjNu9JZSye_5nFIXCv7yMq-cGBWG3Nqkd4SMgVhOVEkRVC9OdMH4UoiZQfEtruB1jqYP9jt_zalPAu75IHPMCtrOdrN4VmIH4Vxm91tVFsblTK70AyNlxFb8BIHz8nHhsonf8D0q5R7zB1WQ=w1756-h1170-no?authuser=0"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLXmgCDCcfp1WClqZLb7Huz0Dpc8x5UEVS4XyxvQ_ZgOi6F40rDBtA8dFFn2wqgAyM2trbAuoMnCrOrDElfD1cER9yVkcctDrueTgp1zr2y1KDVB0hjEd4fOQ_HawJUa8GN6_u7Keh1Goz3H8S_ouy9H-Q=w1756-h1170-no?authuser=0"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUMyVmM8bxQae4wlW0rDbJVsGpV-QpgCxVdZbw9guzNecP12xw6rPLOExTYStoGilpYK8OrC97TH1LDMZjfoEXhf3k4ftAa96QgJSi5OmWv7r1HSlbB05DVFwnlTT-Je9UWzFHG7Rpb2YPXUL7HKKe2Jg=w1756-h1170-no?authuser=0"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AM-JKLUqBNfs2FerqhCJHGwP76EWFzEILiaH9LKuQFjofoN19hzGskfCb9WOSrSOGLJ5RDG4EU71y6VJWjCQ1OPpCjC7ZHOXKo1q2B_5_l_0mCIe9U991wBJHHx0tRt5XsyORLBBtvO2bqqm9Lme_Vb-Nuqa3g=w2560-h960-no?authuser=0
"%}


