---
title: Synaptic Resonance
year: 2022
place: Black Rock City, Nevada, United States
thumbnail: https://lh3.googleusercontent.com/pw/AL9nZEW_jIrPBqToNJWeN5JB_PAGzm3yjgNccwuWeNyjjz_a9iBRvINbpt5Ge_bNhn13zxyjP3IxjJshy-TQSu2kUH8eMFgN2zYWTXwZaYnUp1Z8_PMDBxOlIKiSawLhzaLxt42Z5Pwt7es6eYp92xf2TEEF1w=w1956-h1466-no
collab:
    - Spectral Form
    - Derrek Chow
text:
    <i>Synaptic Resonance</i> is an interactive light and sound installation. Debuted at Burning Man 2022, participants lay on a vibrating platform under neuron inspired LED lights immersed in an ambisonic sound experience. The 3D mapped LEDs play animations synced with the 3D audio as well as the vibrations below.

external:
    exhibition:
        -
            title: Burning Man 2022
            venue: Camp Synesthesia
            location: Black Rock City, Nevada, United States
            url: https://burningman.org/event/
            date: Aug 28 - Sep 5, 2022
            sort_date: 2022-7-28
---

{% include media.html yt="oRw8ObIM4gQ" %}

{% include media.html video="https://user-images.githubusercontent.com/17170744/192680784-9573ca6f-0962-4d60-a877-3f3757e589dc.mp4" %}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEW_jIrPBqToNJWeN5JB_PAGzm3yjgNccwuWeNyjjz_a9iBRvINbpt5Ge_bNhn13zxyjP3IxjJshy-TQSu2kUH8eMFgN2zYWTXwZaYnUp1Z8_PMDBxOlIKiSawLhzaLxt42Z5Pwt7es6eYp92xf2TEEF1w=w1956-h1466-no" %}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEXwpzX3pwMU-7vBZsYxdXIaL2YwId4Ip1kN4E-U4zZ5anPmnTCEiIMxSBksfSC9IkAn0ubIrX3G3h9plSZ3QeQZSMURxDb3_KD7ejNUVhvHmouJfbaKOMF9xXJ47y7SQQ44N50yH7GUCDGihZs-EEIQ7A=w1912-h1434-no" %}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEUszc4QHVq9o8efHru5_eXlmtV_IidazTpPVeBqg8-hlg7s7ZkpzRgFGIvF7M8-Gtm-SBrWeKgK3SoGZSr55TAs5YQ8WtmseQbhEymzlrtdqEsSckGrNOSQetpqHzjhlCbG5HQQnbdLcZdf59qUVjyXJg=w1956-h1466-no" %}


