---
title: Transdimensional
year: 2022
place: Boudler, CO, United States
thumbnail: https://lh3.googleusercontent.com/pw/AL9nZEUdULyREJaIgLw3BctVx-xHQWEEkZ-3HWJKG7kPTr0FNnsvZT_e6amH_kdTphrw9t_We3lGkZuf3s1-MmgaER6wgoJR-FTZvISFAtL1ncOjr5QXBQLwPNFL6KqEOoWeSPvoRjGkPvrQ7_9VLFZ0flbb=w1920-h1080-no?authuser=2
text: Transdimensional is an unnoficial lighting performance of the song <i>Transdimensional</i> by TAAHLIAH and KAVARI. The piece was performed live to the song in the <a href="https://www.colorado.edu/atlas/b2" target="_blank">B2 Center for Media, Arts & Performance</a>.
external:
    credits: 
        Concept, Lighting Design and Performance, Editing&#58; Derrek Chow<br/>
        Videography&#58; Ezekiel Miles<br/>
        Production support&#58; Chris Petillo, Beau Walters<br/>
        Location&#58; B2 Center for Media, Arts & Performance<br/>
        Music&#58; Transdimensional by TAALIAH, KAVARI
---

{% include media.html yt="uXyLAieICzc"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEUdULyREJaIgLw3BctVx-xHQWEEkZ-3HWJKG7kPTr0FNnsvZT_e6amH_kdTphrw9t_We3lGkZuf3s1-MmgaER6wgoJR-FTZvISFAtL1ncOjr5QXBQLwPNFL6KqEOoWeSPvoRjGkPvrQ7_9VLFZ0flbb=w1920-h1080-no?authuser=2" %}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEUDZDgmqYuoX5YK9FOrpF7j8Tv4KJEvxll_3XgRGveOq-WdMsdvLqxOaqE9h4NDLHb1DkJZp_EW2FpY8sie9o-5UCrEr_dft16b66hPNxpHsGVpQwF1ZhHlTlwu-ZCvmjSfJji8u6ApsTk5yEpqkwfI=w1920-h1080-no?authuser=2"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEVAmM0mUlkYhZscyzf9ldeWme6KaWCFFzrVBdE9-Gg_PXcywtgKG2onbQPqeN-cJORv-WMdrX_WNzo6wHklFLsPmk2LbYzrLbmcReOuTRVMGqMktp24bu9unjx6tpN3PR_ZDyNdYnVLGNYEDIDo3hGT=w1920-h1080-no?authuser=2"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEX4VS__o19SR1SKTsI3OioXaMuzaFhmhlcEzcb2xFs5sIkiX2kVOim2_Uh98JRaxZjMPcnRsMhFV8MWeoDGiNE6LvoB3kekQZX0Yc7z1aJl6ViPe5_M58ZwHfSb1P_sYaW36J704NVi3HmdzViH9VsH=w1920-h1080-no?authuser=2"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/AL9nZEVA-OGD5pOQyteRmStu29CAOuPYJwZQrslG85ERkZ82heYApmqvNX1AZhYfk45TWBasgxVUyVgWQyBmvybub6IyG8XlfgCcjxoYtERqGi7tz45mz0uZrvlM8YmNjKpSAqJWkztP0v1ILwVExFTUDvcg=w1920-h1080-no?authuser=2"%}


