---
title: UW Flow
year: 2021
place: Waterloo, Canada
thumbnail: https://lh3.googleusercontent.com/KfyNJLnAcKrUD4OGjdz8FI5QfE9hVD0MYvE3AZ86EXV6GGhNhEkykYC6Xqv-NQ7nKE2r1cM8BcKCZ0Yuf0y5T6EQr-Imt7LCb-KfMhZvsqkkmwLMCv9EZBFsmlB0er9Tz_QPVEV8mw9AAmekdCjOT7Iu0u7nachLqBWTOa9R5Vin5YUvCmlRN4DG2NUCDtUWwOXPN-pHcH37Vw7j8fUrq7GvKsnogkZNQEH5VCLbp7UlLPYMc9hvQ7eNtOn8_L4o-UirRlhrDOp6wdz5pg7qnUbhvapRyYBnp2P2rA1rBTWZEZlxuIXXgOm0_O1JjNwNNOI__9CWnI-suasf0ViVLxAmVllInzn0CXqxKqgwhfQENGexE2VTC2mOlVIzVzYmyqGIJnsES_EPHgKiPOyU9jXGddShApnqT0qffTKgO_AXgXDO2bBNrxFvNXEjJAeZkeOUkj5Q-2ZUEcmZhIC7_U_YE-yxFKhZaOIeTnzYEalxNCNItfWK0c0U1dhGgxb14o4VhVhIXRJdUcr7VV5bB77MkN5WMz4LqO3jaMgFVAqou1WWOJW8NCkcUsFPBMmWUelIx3Jqucvuegr3bxKkv5o7A3BaTCxvAE1h5rmTHaYVFIznLbqnog5Y559Dg4LnKmekQdB6MbgSP8fUONiUdCMZ0IUlRXqJtUDH-Pv3KEoS-BjNzzzl5ZN1BL0WuxlF98D6kStdcDUXUM6tfazbkAg=w2009-h1268-no
collab:
    - Ayush Kapur
    - Edwin Zhang
    - Dmytro Shynkevych
    - Derrek Chow (Design)
    - Max Dai
    - Bob Wei
text:
    UW Flow is a popular platform for University of Waterloo students to share course and professor reviews. It was created in 2012 by a group of software engineering students. While the site remained a useful resource for students, it began to suffer over time from lack of maintenance. In 2019, we decided to revamp UW Flow with an entirely new design and codebase.<h3>Visit <a href="https://uwflow.com/" target="_blank">uwflow.com</a></h3>
external:
    press:
        -   
            source: Arts Computing Office Newsletter
            title: UW Flow&#58; the one stop shop for course information
            url: https://uwaterloo.ca/arts-computing-newsletter/winter-2018/feature/uw-flow-one-stop-shop-course-information
            sort_date: 2022-12-01
            date: Winter 2018
    credits:
        -
            Ongoing server hosting for UW Flow is made possible by the Department of Software Engineering at the University of Waterloo.
---


{% include media.html img="https://lh3.googleusercontent.com/KfyNJLnAcKrUD4OGjdz8FI5QfE9hVD0MYvE3AZ86EXV6GGhNhEkykYC6Xqv-NQ7nKE2r1cM8BcKCZ0Yuf0y5T6EQr-Imt7LCb-KfMhZvsqkkmwLMCv9EZBFsmlB0er9Tz_QPVEV8mw9AAmekdCjOT7Iu0u7nachLqBWTOa9R5Vin5YUvCmlRN4DG2NUCDtUWwOXPN-pHcH37Vw7j8fUrq7GvKsnogkZNQEH5VCLbp7UlLPYMc9hvQ7eNtOn8_L4o-UirRlhrDOp6wdz5pg7qnUbhvapRyYBnp2P2rA1rBTWZEZlxuIXXgOm0_O1JjNwNNOI__9CWnI-suasf0ViVLxAmVllInzn0CXqxKqgwhfQENGexE2VTC2mOlVIzVzYmyqGIJnsES_EPHgKiPOyU9jXGddShApnqT0qffTKgO_AXgXDO2bBNrxFvNXEjJAeZkeOUkj5Q-2ZUEcmZhIC7_U_YE-yxFKhZaOIeTnzYEalxNCNItfWK0c0U1dhGgxb14o4VhVhIXRJdUcr7VV5bB77MkN5WMz4LqO3jaMgFVAqou1WWOJW8NCkcUsFPBMmWUelIx3Jqucvuegr3bxKkv5o7A3BaTCxvAE1h5rmTHaYVFIznLbqnog5Y559Dg4LnKmekQdB6MbgSP8fUONiUdCMZ0IUlRXqJtUDH-Pv3KEoS-BjNzzzl5ZN1BL0WuxlF98D6kStdcDUXUM6tfazbkAg=w2009-h1268-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/ACtC-3cutd_BOxPEn1LHrRWME0H924-mLi_DKFl66octIL7ci_DL_DbI-tNKLVWE4oz6LygJ_b5WjSdwLYpoq8T4Kbx1yoCr3BDT3RWJNX_zfYD8z4JZhKMEP7KNTpUe_OyZRsTPS3rRxmuqtSVwU4JTR7ME=w726-h457-no"%}

{% include media.html full="true" img="https://lh3.googleusercontent.com/pw/ACtC-3du6E2zeXKBCDminvMGKS6E4Jbt7duI1VBtSfccRSArqz34Zxq3ohyWeCq3nUiSGgiYfdF_cHeg-2NTsU-IelirxFskgd0WtGMM5F1cX5JsmVoThNFZqUOqsD2tn2Mqv0mkevWgIzacRc6hR8gU_q0u=w548-h1382-no"%}

{% include media.html full="true" img="https://lh3.googleusercontent.com/pw/ACtC-3fWEl-lFpP3Z93_AT8wFU-Lq-gGkJIR3oSVDRAU2IlrC-jAYcbncZvDwd3gXKj5eNWaFibJslEyvUUN8VJCLMBLoFa457P1sCLzYObTel9trmaLWWJ0eLgimBIM7Zbbo8YglwlV4GNScEWcdpxnbRQS=w730-h1353-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/ACtC-3d67G3UX74Q2N1jeIk2LogI3Fszcg2L9-vwtQeIrRabcttkIBMgBbExGZTE_RYvsvI4k_FhUmqJhe3IMi2qLMRJdZ_ss5a9qWxen6hGByH1nm2fMkCURqeZMkGS8WNpU_q7hxHfJfrbw3WMavmpe93F=w598-h299-no"%}

{% include media.html img="https://lh3.googleusercontent.com/pw/ACtC-3dZezLnLE9A1BITSdYoqkwnCV58KPQwVpztv92X5ksVGvJNhOUZ-3k4b_6XYvZOkKaLxzSy4ZIpEp8vMrgNr43a9atkzTEb3rshAXDieTqXEC0ov7fwR19hMX9cYdPsp5QN4nDnexeqSi7yJExxr0sP=w718-h673-no"%}       


{% include media.html img="https://lh3.googleusercontent.com/xv5CHyxMlMceS7JQm1dCcZvHbCohT-BvX-irGc-Wjkuad2hT8jAyvW_VmH3IXxEA7JGbryaxBr42kKSCicEcTTvY6j3IQzkA8nKnNdJG86qmDWLlyoUzb_Kog-wbcaVtN9_RVbVKHID6UoUEBmddFbkcJ5NuSufHrz8Y34t8RB_DaDTdTpWQlpkTz9AYxi6fyZ43JvXe_O_v-nXKyj7V2nz2vf0Eic4DFP9Dl8XEe5uEd3O1e4Yam6PkDT4HT7mTExKgGbnJxAJruhtFHk3ub-rGkr_A8DL7NXUl66Ksj6odg3Jr6Swc_kAL4SXv9Wfch2DQnkogMj1d8ZSLY2HnV4_fDwGptW4o8PfvQs01IGDlEHV4GBUU5_vhaLnMT50Q-U7zQH4TJhez1QJsPGW8xsOMd2A2V6Lr90FfnLAxWYlG0FR4IVF7B5U9Nw4zgo1tnzGTomLVFhgMH1XnWoJC8emuIu--4LPeNfCakdE7DR3sLK-g1SaON3TdXdNsRwACMI0Er-gVxmoD577YVWGH07rZ12WriPoyWqw8sXQF-80JFi9MX16nAwfm7n-6EEoi9LwXT83fttGfyUuATsm50rAbCSfG8PeUO57TELCUnjMuJna487tMte2Np74Wxt3BmHvNXfvXVd6jNmX7s8oFYnfhnVkIPp_AnWyfTaqtku59KzXKoaTs3vFzdV05ist8cJ29PqnGX5V0z7oOgXSwEqw=w800-h500-no" caption="Interactive wireframe prototype"%}       



