---
title: Virtual Pottery
year: 2020
place: ""
thumbnail: https://lh3.googleusercontent.com/p9tg18PmSf9nQD19GaCYrTQwqy1fj0jVJlvcaxKcVSUYdcue4cBwPS0PWSY6lwrthkalub4C59WbROJzP2vUyZNl-s0b9T6DXCMLT9Hqr_gtNwzA9UexfJlz6p5VWXGETSjmJWmnNH35egCOamX4V0-tqVceX0Z7TwnDGpE39QzyUSXn-HvxBQxTcoAGcXGdTB8sa9xPI3igMkmgyMRiPZxSUvQRlWIL1oJqTfYkJj75OsOtR2ZE7vXdX9VSXAPd4Hs7PGkACVFgXNkWKwYjgYynLAeWSmT3xbNlv6ak0aErDbuF-nBKXNDKn8cGCDRe9gydgLGnIUS4NrCjhshzs5dGPud6zR_KeErgxai_959PTqiqXteivOmaLUxq98sHctC18nc2xLs5Q-igRTflKvJREV_s3N6LJ5mk9uE9-iDy_QSY9mqu9eCHWtgbOwnAxEpnNMlYv1NX6VK2x1MMeN-xF_10s1zgcmzhzgI6n_f5iR8Z5_kbY20AFj0Q_ToT74q04mx5NCzCRrsP7aoYCDX52PibQQAnuzCA9P4p4MXUaGtDrcvXl3F_Pbe23jmqgJyZGqmgbZ6Bc5LfFTK80uk2RWLKFDDVH1hyDx2iAmFX-q4SlPwpHJmV2FUzmXr1I-HhJx9p4o9BK3Q261u8291Q7gbOHA8dwK8TX2p8Nry0qePXGNXcWNJZURsRQmr-XtlT5ITtyNg6GCf5KqkCrlE=w290-h293-no?authuser=0
collab:
  - Gracie Xia
  - Derrek Chow
layout: main
type: page
role:
  - 3D textures
---

{%include title.html %}

<h3>View the full  interactive versions <a href="https://graciexia8.github.io/Virtual_Pottery/sancaiWare/sancaiWare.html" target="_blank">here</a>.</h3>

<br/><br/>

{% include media.html img="https://lh3.googleusercontent.com/p9tg18PmSf9nQD19GaCYrTQwqy1fj0jVJlvcaxKcVSUYdcue4cBwPS0PWSY6lwrthkalub4C59WbROJzP2vUyZNl-s0b9T6DXCMLT9Hqr_gtNwzA9UexfJlz6p5VWXGETSjmJWmnNH35egCOamX4V0-tqVceX0Z7TwnDGpE39QzyUSXn-HvxBQxTcoAGcXGdTB8sa9xPI3igMkmgyMRiPZxSUvQRlWIL1oJqTfYkJj75OsOtR2ZE7vXdX9VSXAPd4Hs7PGkACVFgXNkWKwYjgYynLAeWSmT3xbNlv6ak0aErDbuF-nBKXNDKn8cGCDRe9gydgLGnIUS4NrCjhshzs5dGPud6zR_KeErgxai_959PTqiqXteivOmaLUxq98sHctC18nc2xLs5Q-igRTflKvJREV_s3N6LJ5mk9uE9-iDy_QSY9mqu9eCHWtgbOwnAxEpnNMlYv1NX6VK2x1MMeN-xF_10s1zgcmzhzgI6n_f5iR8Z5_kbY20AFj0Q_ToT74q04mx5NCzCRrsP7aoYCDX52PibQQAnuzCA9P4p4MXUaGtDrcvXl3F_Pbe23jmqgJyZGqmgbZ6Bc5LfFTK80uk2RWLKFDDVH1hyDx2iAmFX-q4SlPwpHJmV2FUzmXr1I-HhJx9p4o9BK3Q261u8291Q7gbOHA8dwK8TX2p8Nry0qePXGNXcWNJZURsRQmr-XtlT5ITtyNg6GCf5KqkCrlE=w290-h293-no?authuser=0" %}

<br/><br/>

{% include media.html img="https://lh3.googleusercontent.com/59el7gl16DuJyjz4tufZxnsj8EHqo4qMVo3KGTCYZRTyvGfpmeBm8XNaINPr3AVw3WhKkHDOitjkGJvz1mcAeBHg1Xkmb8404fIjm5_PNPNz2EUq76-fb9iTRCo73rR01nmU_zGFbcPIWlab2geNKBzzGRZl5yb8XDPK1uJa5px4pCeCmTK8yhZ0Pe5ETnJv8rs8wX4gOPIAyVdJovaOmn2IAQbuZX7P0VrWPtzUDiMMOTezXgUXUYZFkU0fqfYAP5SaurZoMaoLFzHKbDRBhMo7kk3Z6FY7It_mAutiBNFvbY_KifC1qA0Fk-Br7ijcy4ZCr30qQIu9GjLJxC86A3CBNN9UfHbDZ5zcRW7KAC_tJA4ISo7QpkbV6F0DBKPlXwaIGiD2qoueoZwUppEy9kMY7ZzB-K-a4044pgiLAZvIt-_wYy4g7dc9hWxH51yRvAdCwB5xKVAy5c9TP7Pjp1_RFW7swbTZYBP4uaL5soatXE5LQrn5FV_vROPzp9VfhqfxvNPqTKXaN7NR5RbfYKRl0ZpCAZUyr2yCquv7foO6SUCy-9-vWSxdrfqpqIREvd5X-NTCrCShdi8ZIrDonLAflufo8Xb9bSIUqbEOAn9rPcqJHvdUPHMYljgFAMlaaG5eZFmX9t7apkRtPxNbL7Qb0mydW6-sUIx27AX-QH7_1NdT5RgWICaDSWHY8CYGRdnwHcciIYJSNjWQgwKYbyQ=w304-h303-no?authuser=0" %}