---
title: Quotes
data:
    -
        text: The problem of the new world architecture is:<br/>The finiteness of mechanics<br/> plus the infiniteness of life.
        person: Erich Mendelsohn
        source: Synthesis
        year: 1928

    -
        text: It would be a sad irony if we were to end up creating a world too complicated for us to manage alone, and fail to recognize that some of our own inventions could help us deal with our own complexity.
        person: Howard Rheingold
        source: Tools For Thought
        year: 1985

    - 
        text: The line between "fad" and ordinary product will progressively blur. We are moving swiftly into the era of the temporary product, made by temporary methods, to serve temporary needs. The turnover of things in our lives thus grows even more frenetic. We face a rising flood of throw-away items, impermanent architecture, mobile and modular products, rented goods and commodities designed for almost instant death.
        person: Alfred Toffler
        source: Future Shock
        year: 1920

    -
        text: We live in an unending rainfall of images. The most powerful media transform the world into images and multiply it by means of the phantasmagoric play of mirrors. These are images stripped of the inner inevitability that ought to mark every image as form and as meaning, as a claim on the attention and as a source of possible meanings. Much of this cloud of visual images fades at once, like the dreams that leave no trace in the memory, but what does not fade is a feeling of alienation and discomfort.
        person: Italo Calvino
        source: Six Memos for the Next Millennium
        year: 1988

    - 
        text: For intelligence regulates our passions – but the human spirit makes the law. Therefore technology ends with man himself. For once technology becomes an end in itself mechanical theory leads to an over-valuation of technical inventions and makes of technology an idol. Therefore no falsification of the human spirit through mechanization.
        person: Erich Mendelsohn
        source: Synthesis
        year: 1928

    - 
        text: The organization of the entire economy toward the “better” life has become the major enemy of the good life.
        person: Ivan Illich
        source: Tools for Conviviality
        year: 1973

    - 
        text: Artists do not create objects, but create by way of objects.
        person: Otto Rank

    - 
        text: Man is by all his senses and efforts directed to externals... It is only when he feels joy or sorrow that he knows anything about himself, and only by joy or sorrow is he instructed what to seek and what to avoid. For the rest, man is a confused creature; He knows not whence he comes or whither he goes, he knows little of the world, and above all, he knows little of himself.
        person: Goethe

    - 
        text: For rational beings to see or re-cognize their experience in a new material form is an unbought grace of life.
        person: Marshall McLuhan
        source: Understanding Media&#58; The Extensions of Man
        year: 1964

    -
        text: We haven't gotten any smarter, we've just changed our representation system.
        person: Alan Kay

    -
        text: The evolution of culture is synonymous with the removal of ornament from utilitarian objects.
        person: Adolf Loos
        source: Ornament and Crime
        year: 1908

    -
        text: The sea gulls circling on the invisible currents, the cat on my desk, the siren of a distant ambulance are not somehow distinct from the environment; they are the environment. To look at them I must look for what I take them to be.
        person: James Carse
        source: Finite and Infinite Games
        year: 1986

    -
        text: We're still children in the computer age, and children like stability. They want to hear the same bedtime story or watch the same video again and again. But as we grow more capable and are better able to cope with a changing world, we become more comfortable with changes and even seek novelty for its own sake.
        person: Jakob Nielsen
        source: The Anti-Mac Interface
        year: 1996

    -
        text: In the current historical climate, a domain where quantifiable measurement is possible takes precedence over one where it does not. We believe that things that can be measured are real, and we ignore those that we don’t know how to measure.
        person: Mihaly Csikszentmihalyi
        source: Creativity&#58; Flow and the Psychology of Discovery and Invention
        year: 1996

    -
        text: Me, I have a science fiction writer's conviction that the damn robot is supposed to speak human, not the other way around.
        person: Spider Robinson

    -
        text: Much of what gives one's life meaning stems from accidents, interruptions, and serendipitous encounters&#58; the "off time" that a mechanistic view of experience seeks to eliminate.
        person: Jenny Odell
        source: How to Do Nothing&#58; Resisting the Attention Economy
        year: 2019

    -
        text: The plow makes man the lord of a garden but also the refugee from a dust bowl.
        person: Ivan Illich
        source: Tools for Conviviality
        year: 1973

    -
        text: The effects of technology do not occur at the level of opinions or concepts, but alter sense ratios or patterns of perception steadily and without any resistance.
        person: Marshall McLuhan
        source: Understanding Media&#58; The Extensions of Man
        year: 1964

    -
        text: We have to remember that what we observe is not nature in itself but nature exposed to our method of questioning.
        person: Werner Heisenberg

    -
        text: The world which we perceive is a tiny fraction of the world which we can perceive, which is a tiny fraction of the perceivable world.
        person: Terence McKenna

    -
        text: The first computers were human, and the last computer may be human as well.
        person: Taeyoon Choi

    -
        text: But Humanity, in its desire for comfort, had over-reached itself. It had exploited the riches of nature too far. Quietly and complacently, it was sinking into decadence, and progress had come to mean the progress of the Machine.
        person: E. M. Forester
        source: The Machine Stops
        year: 1909

    -
        text: All our steps in creating or absorbing material of the record proceed through one of the senses—the tactile when we touch keys, the oral when we speak or listen, the visual when we read. Is it not possible that some day the path may be established more directly?
        person: Vannevar Bush
        source: As We May Think
        year: 1945

    -
        text: The work of past ages accumulates, and is remade again.
        person: Osamu Sato
        source: The Art of Computer Designing
        year: 1993
    
    -
        text: This is the eternal origin of art that a human being confronts a form that wants to become a work through him. Not a figment of his soul but something that appears to the soul and demands the soul’s creative power.
        person: Martin Buber
        source: I and Thou
        year: 1928

    -
        text: Your legal concepts of property, expression, identity, movement, and context do not apply to us. They are all based on matter, and there is no matter here. <br/><br/>Our identities have no bodies, so, unlike you, we cannot obtain order by physical coercion. We believe that from ethics, enlightened self-interest, and the commonweal, our governance will emerge.
        person: John Perry Barlow
        source: A Declaration of the Independence of Cyberspace
        year: 1996

    -
        text: Truth is the invention of a liar.
        person: Heinz von Foerster

    -
        text: For thinking is stoppage of the immediate manifestation of impulse until that impulse has been brought into connection with other possible tendencies to action so that a more comprehensive and coherent plan of activity is formed. Some of the other tendencies to action lead to use of eye, ear, and hand to observe objective conditions; others result in recall of what has happened in the past. Thinking is thus a postponement of immediate action, while it effects internal control of impulse through a union of observation and memory, this union being the heart of reflection.
        person: John Dewey
        source: Experience And Education
        year: 1938

    -
        text: ...there are no new truths. The role of the artist, like that of the scholar, consists of seizing current truths often repeated to him, but which will take on new meaning for him and which he will make his own when he has grasped their deepest significance.
        person: Henri Matisse
        source: Notes of a Painter
        year: 1908

    -
        text: Technologies beget abstractions, and abstractions beget technologies, or become a different kind of technology in and of themselves.
        person: Benjamin H. Bratton
        source: The Terraforming
        year: 2019

    -
        text: Universe is finite&#58; a process of decreation&#58; the passing of the created into the uncreated. Decreation&#58; the created passes into man-made invention. Reality passes into description.
        person: John Brockman
        source: By the Late John Brockman
        year: 1969

    -
        text: ...without embracing the relevance and importance of everyday, lived human experience, the power and sophistication of contemporary cognitive science could generate a divided scientific culture in which our scientific conceptions of life and mind on the one hand, and our everyday, lived self-understanding on the other, become irreconciliable.
        person: Eleanor Rosch, Evan Thompson, and Francisco Varela
        source: Embodied Mind Cognitive Science and Human Experience
        year: 2017

    -
        text: Minds awaken in a world.
        person: Eleanor Rosch, Evan Thompson, and Francisco Varela
        source: The Embodied Mind&#58; Cognitive Science and Human Experience
        year: 2017

    -
        text: The culmination of experience in the first two decades of the cognitivist dominance can best be expressed by noting a conviction that grew gradually among the community of researchers&#58; it is necessary to invert the expert and the child in the scale of performances. The first attempts were directed at solving the most general problems, such as natural language translation or the problem of devising a “general problem solver.” These attempts, which tried to match the intelligence of a person who is a highly trained expert, were seen as tackling the interesting, hard issues. As the attempts became more modest and local, it became apparent that the deeper and more fundamental kind of intelligence is that of a baby who can acquire language from dispersed daily utterances and can constitute meaningful objects from what seems to be a sea of lights.
        person: Eleanor Rosch, Evan Thompson, and Francisco Varela
        source: The Embodied Mind&#58; Cognitive Science and Human Experience
        year: 2018

    -
        text: ...the function of the brain and nervous system and sense organs is in the main eliminative and not productive. Each person is at each moment capable of remembering all that has ever happened to him and of perceiving everything that is happening everywhere in the universe. The function of the brain and nervous system is to protect us from being overwhelmed and confused by this mass of largely useless and irrelevant knowledge, by shutting out most of what we should otherwise perceive or remember at any moment, and leaving only that very small and special selection which is likely to be practically useful.
        person: Aldous Huxley
        source: The Doors of Perception and Heaven and Hell
        year: 1954
    
    -
        text: In a world where education is predominantly verbal, highly educated people find it all but impossible to pay serious attention to anything but words and notions.
        person: Aldous Huxley
        source: The Doors of Perception and Heaven and Hell
        year: 1954
    
    -
        text: We should do what pleases us in life and try very hard at it.
        person: Alejandro Jodorowsky
        source: Psychomagic&#58; The Transformative Power of Shamanic Psychotherapy
        year: 2010
    
    -
        text: Let the labyrinth of wrinkles be furrowed in my brow with the red-hot iron of my own life, let my hair whiten and my step become vacillating, on condition that I can save the intelligence of my soul—let my unformed childhood soul, as it ages, assume the rational and esthetic forms of an architecture, let me learn just everything that others cannot teach me, what only life would be capable of marking deeply in my skin!
        person: Salvador Dalí
        source: The Secret Life of Salvador Dalí
        year: 1942

    -
        text: Know the difference between the colour of the wine and the colour of the glass.
        person: Idries Shah
        source: The Sufis
        year: 1964

    -
        text: The general question revolving around "identity" is this&#58; what does how we speak imply about what there is? Does the fact that there are vague expressions imply that there are vague objects?
        person: Florian Coulmas
        source: Identity&#58; A Very Short Introduction
        year: 2019
    
    -
        text: The map is not the territory.
        person: Alfred Korzybski

    -
        text: Nothing is itself anymore. Everything points to something else, has to be like that and this. A chair isn&#39;t a chair any more. It has to look like a sculpture, like a work of art.
        person: Otl Aicher
        source: The World as Design
        year: 1991

    -
        text: When you speak of the photographer, there need be no distinction between the amateur and the professional. Photography is a skill in the hands of persons who may be primarily something else. The photographer who is only a photographer is not a photographer. The magazine photographer is first a journalist. The scientific or architectural photographer may be a scientist or an architect using the camera as a specialized tool. All photographers are part of their world. They know that there are two keys to the language of photography, akin to the examining and transmitting functions of the camera. Th two keys with which one works are meaning and technique.
        person: John R. Whiting
        source: Photography is a Language
        year: 1979

    -
        text: Failure - A subjective emotional experience caused by the interpretation of error as unrecoverable that yields negative attitudes towards continuing or pursuing a practice.
        person: Torres et al.
        source: Guardians of Practice&#58; A Contextual Inquiry of Failure-Mitigation Strategies within Creative Practices
        year: 2018

---
{% include title.html %}
<br/><br/><hr/><br/><br/>

{% assign quotes = page.data %}
{% for quote in quotes %}
    <p class="quote">{{ quote.text }}</p><br/>
    <span class="subtitle">
        {{ quote.person }}<i>{% if quote.source %}, {{ quote.source}}{% endif %}</i>{% if quote.year %}, {{ quote.year }}{% endif %}
    </span>
    <br/><br/><br/>
    <hr/>
    <br/><br/>
{% endfor %}