---
layout: compress
---
<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <main>
            <!-- {% include slides.html %} -->
            <!-- {% if page.home %}
                
            {% endif %} -->
            <r-grid columns=8>
                <r-cell span=7 style="max-width:768px;" id="{% if page.id %}{{page.id}}{% endif %}">
                    {{ content }}
                    <section  >
                        <p class="subtitle">© Derrek Chow 2022</p>
                    </section>
                </r-cell>
                <r-cell span=1>{% include nav.html %}</r-cell>
            </r-grid>
        </main>
    </body>
</html>