---
layout: main
---
{% include title.html %}<br/><br/>
<r-grid columns=3 columns-s=1>
    <r-cell span=2>
        {{ content }}
    </r-cell>
    <r-cell span=1 class="about">
        {% if page.text %}<p>{{ page.text }}</p><br/>{% endif %}
        {% include external.html %}
    </r-cell>
</r-grid>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var element = document.getElementById("{{ page.type }}-nav");
        element.classList.add("hr");
    });

    var videos = document.querySelectorAll('video[controls]');
    videos.forEach(video1 => {
        video1.addEventListener('play', () => {
            videos.forEach(video2 => {
                if (video1 != video2) {
                    video2.pause();
                }
            });
        });
    });
</script>