---
layout: main
---
<a href="/#{{ page.type | downcase}}" onClick="if (history.length > 1) { event.preventDefault(); history.back(); }" class="subtitle" data-aos="fade-in">⟵ back to {{ page.type }}</a><br/><br/><br/>
<div class="project">
    <article>
        <r-grid columns=3 class="blocks" columns-s=1>
                <r-cell span=2>
                    <img src="{{ page.thumbnail }}"  />
                </r-cell>
                <r-cell span=1 data-aos="fade-in">
                    <h1>{{ page.title }}</h1>
                    <label style="opacity:0.5">{{ page.year }}</label><br/><br/>
                    {% if page.role %} <label>Role: <i>{{ page.role | join: ", " }}</i></label><br/><br/> {% endif %}
                    {% if page.collab %} <label>In collaboration with {{ page.collab | join: ", " }}.</label><br/><br/> {% endif %}
                    <p>{{page.about}}</p>
                </r-cell>
        {% for block in page.blocks %}
            <r-cell span=2>
                {% if block.image %}                    
                    <img src="{{ block.image }}" />
                {% elsif block.video %}
                    <video src="{{block.video}}" width="100%"
                    {% if block.videoSettings %}
                        {{block.videoSettings}}
                    {% else %}
                        autoplay loop muted
                    {% endif %}
                     controlslist="nodownload noremoteplayback"></video>
                {% endif %}
            </r-cell>
            <r-cell span=1 data-aos="fade-in">
                <label>{{ block.label }}</label>
            </r-cell>
        {% endfor %}
        </r-grid>
    </article>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var element = document.getElementById("{{ page.type | downcase }}-nav");
        element.classList.add("active");
    });

    var videos = document.querySelectorAll('video[controls]');
    videos.forEach(video1 => {
        video1.addEventListener('play', () => {
            videos.forEach(video2 => {
                if (video1 != video2) {
                    video2.pause();
                }
            });
        });
    });
</script>